Repository Azure/azure-container-networking: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

.pipelines/npm/npm-conformance-tests.yaml:
  stages:
  - stage: setup
    displayName: Setup
    jobs:
    - job: setup
      displayName: Configure Test Environment
      pool:
        name: $(BUILD_POOL_NAME_DEFAULT)
        demands:
        - agent.os -equals Linux
        - Role -equals Build
      steps:
      - checkout: self
      - script: 'go version
  
  ...

.pipelines/trigger.yaml:
  extends:
    template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: $(BUILD_POOL_NAME_DEFAULT_WINDOWS)
          os: windows
        codeql:
          compiled:
            enabled: true
  ...

feat(build): add PONv6 AKS cluster target
  hack/aks/Makefile
Due: .pipelines/trigger.yaml

ci: isolate 1ES PT pool variables from legacy defaults
  .pipelines/pipeline.yaml
Due: .pipelines/trigger.yaml

add linux node selector
  test/network/wireserver_metadata_test.sh
Due: .pipelines/trigger.yaml

Add 1ES PT to ACN PR pipeline and fix GH Release pipeline (#4735)
  .pipelines/containers/container-template.yaml
  .pipelines/containers/manifest-template.yaml
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/aks-swift/e2e-job-template.yaml
  .pipelines/singletenancy/aks/e2e-job-template.yaml
  .pipelines/singletenancy/azure-cni-overlay-stateless/azure-cni-overlay-stateless-e2e-job-template.yaml
  .pipelines/singletenancy/azure-cni-overlay/azure-cni-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-dualstack-ebpf/cilium-dualstack-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-ebpf/cilium-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-nodesubnet/cilium-nodesubnet-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-ebpf/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-job-template.yaml
  .pipelines/singletenancy/dualstack-overlay/dualstackoverlay-e2e-job-template.yaml
  .pipelines/templates/disk-cleanup.steps.yaml
  .pipelines/templates/failure-analysis.job.yaml
  .pipelines/templates/log-template.yaml
  .pipelines/templates/pipeline-failure-analysis.job.yaml
  .pipelines/templates/run-unit-tests.yaml
  Makefile
  npm/linux.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

run wireserver tests only on linux nodes
  test/network/wireserver_metadata_test.sh
Due: .pipelines/trigger.yaml

cns: run stale-HNS cleanup for delegated-NIC Docker NCs
  cns/restserver/api.go
  cns/restserver/ipam_windows_test.go
Due: .pipelines/trigger.yaml

ci: fix wireserver and imds test flakes (#4828)
  test/network/wireserver_metadata_test.sh
Due: .pipelines/trigger.yaml

fix: [NPM] serve the debug and profiling routes to the node only
  npm/http/server/server.go
  npm/http/server/server_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] bound how many ipsets the inventory metric reports
  npm/metrics/ipsets.go
  npm/metrics/ipsets_test.go
  npm/metrics/prometheus-metrics.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: address review feedback on Go 1.27 crypto config
  .github/workflows/go-version-check.yaml
  .pipelines/build/scripts/install-go.sh
Due: .pipelines/trigger.yaml

fix: [NPM] mount the profiling handlers at the profile prefix
  npm/http/server/server.go
  npm/http/server/server_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] bound the matches a namespaceSelector expands into
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] bound a selector that carries only matchLabels
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] bound a selector across its branches and keep the rule ceiling exact
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: add missing env vars for binary tag release channel notification
  .github/workflows/create-release-tag.yml
Due: none

fix: build BPF sources before govulncheck in release vuln gate
  .github/workflows/scheduled-release.yaml
Due: none

fix: route release-channel notifications to their own threads
  .github/workflows/scheduled-release.yaml
Due: none

fix: stop Step 5 pipeline validation being silently skipped
  .github/workflows/scheduled-release.yaml
Due: none

fix: avoid root-owned kubeconfig in LSG pipeline
  .pipelines/cni/lsg/lsg-cni-integration-template.yaml
Due: .pipelines/trigger.yaml

fix: auto-detect AKS LTS support plan
  .pipelines/cni/lsg/lsg-cni-integration-template.yaml
Due: .pipelines/trigger.yaml

fix: [NPM] compile multi-value namespaceSelector NotIn as a single conjunction
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] scope negation-only namespaceSelector matches to cluster namespaces
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] canonicalize ipBlock CIDRs and stop reporting failed translation as success
  npm/pkg/controlplane/controllers/v2/networkPolicyController.go
  npm/pkg/controlplane/controllers/v2/networkPolicyController_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/util/util.go
  npm/util/util_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] bound namespaceSelector flattening
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

test: [NPM] cover every negation-only namespaceSelector operator and its rendered rule
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

chore: [NPM] address lint findings in the changed files
  npm/pkg/controlplane/controllers/v2/networkPolicyController.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] keep the rule budget off the direct-rule path and make two tests meaningful
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] bound generated rules per policy and keep CIDR canonicalization on the Linux path
  npm/pkg/controlplane/controllers/v2/networkPolicyController.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/util/util.go
  npm/util/util_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

chore: [NPM] keep the new error messages bounded and conventional
  npm/pkg/controlplane/controllers/v2/networkPolicyController.go
  npm/pkg/controlplane/translation/parseSelector.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] check the rule budget per port and record translation errors once
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] bound a rule that lists ports and no peers
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] make the rule ceiling exact and refuse an except NPM cannot program
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

chore: [NPM] address lint findings in the changed files
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/util/util_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] let a policy land exactly on the rule ceiling
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] stop enabling the debug routes by default and materialize ipsets on demand
  npm/azure-npm.yaml
  npm/config/config.go
  npm/deploy/kustomize/base/configmap.yaml
  npm/deploy/manifests/common/npm-configmap.yaml
  npm/deploy/manifests/controller/azure-npm.yaml
  npm/deploy/manifests/daemon/azure-npm.yaml
  npm/deploy/npm/azure-npm.yaml
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

Path conditions:
  .pipelines/npm/npm-conformance-tests.yaml: any of: npm, .pipelines/npm
  .pipelines/trigger.yaml: any file but: .devcontainer, .hooks, .vscode, .github, docs
