Repository Azure/azure-container-networking: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

Path conditions:
  .pipelines/npm/npm-conformance-tests.yaml: any of: npm, .pipelines/npm
  .pipelines/trigger.yaml: any file but: .devcontainer, .hooks, .vscode, .github, docs

revert requests.go changes
  nmagent/requests.go
Due: .pipelines/trigger.yaml

fix(cns): resolve restserver lint issues
  cns/restserver/api.go
  cns/restserver/api_test.go
  cns/restserver/const.go
  cns/restserver/internalapi.go
Due: .pipelines/trigger.yaml

extratct joinVnet and joinSubnet in a separate function
  cns/restserver/api.go
Due: .pipelines/trigger.yaml

move UseRNCPublisher to outer CNS request instead of fetching it from publish/unblish NC body
  cns/NetworkContainerContract.go
  cns/client/client_test.go
  cns/restserver/api.go
  cns/restserver/api_test.go
  nmagent/requests.go
Due: .pipelines/trigger.yaml

address copilot's comment to guard publish NC request against empty body
  cns/restserver/api.go
  cns/restserver/api_test.go
Due: .pipelines/trigger.yaml

fix(cns): always join vnet before unpublish
  cns/restserver/api.go
  cns/restserver/api_test.go
  cns/restserver/const.go
  cns/restserver/restserver.go
  cns/restserver/util.go
  cns/restserver/util_test.go
Due: .pipelines/trigger.yaml

Fix IPv6 HP BPF override propagation
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e.stages.yaml
  .pipelines/templates/network-install.yaml
Due: .pipelines/trigger.yaml

ci: wait for default ServiceAccounts before running policy-assistant
  .pipelines/npm/npm-conformance-tests.yaml
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

ci: remove images.mk
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/go-version-check.yaml
  build/images.mk
  hack/scripts/update-cilium-versions.sh
Due: .pipelines/trigger.yaml

fix: keep MS_GO_NOSYSTEMCRYPTO opt-out and root tools.go.mod
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/go-version-check.yaml
  .pipelines/build/scripts/npm.sh
  Makefile
  cns/multitenantcontroller/mockclients/Makefile
  crd/clustersubnetstate/Makefile
  crd/multitenancy/Makefile
  crd/multitenantnetworkcontainer/Makefile
  crd/nodenetworkconfig/Makefile
  crd/overlayextensionconfig/Makefile
  hack/scripts/update-go-toolchain.sh
  npm/linux.Dockerfile
  npm/pkg/dataplane/Makefile
  npm/windows.Dockerfile
  platform/Makefile
  scripts/install-protoc.sh
  tools.go.mod
  tools.go.sum
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix(go-version-check): use target minor for FIPS readiness, ignore comments
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/go-version-check.yaml
Due: none

chore: refresh Go 1.27 image digests after rebase
  .pipelines/build/scripts/install-go.sh
  azure-ip-masq-merger/Dockerfile
  azure-ipam/Dockerfile
  azure-iptables-monitor/Dockerfile
  bpf-prog/ipv6-hp-bpf/linux.Dockerfile
  cilium-log-collector/Dockerfile
  cni/Dockerfile
  cns/Dockerfile
Due: .pipelines/trigger.yaml

fix: restore mariner-core digest lost in rebase; scan for nosystemcrypto
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/go-version-check.yaml
  azure-ipam/Dockerfile
  azure-iptables-monitor/Dockerfile
  cni/Dockerfile
  cns/Dockerfile
Due: .pipelines/trigger.yaml

fix(go-upgrade): include nosystemcrypto in Go 1.27 GOEXPERIMENT scan
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/go-version-check.yaml
Due: none

ci: add opt-in arm64 and Windows Server 2022 legs to NPM conformance
  .pipelines/npm/npm-conformance-tests.yaml
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

ci: add label-driven backport workflow
  .github/workflows/backport.yaml
Due: none

ci: remove privileged pull request trigger
  .github/workflows/backport.yaml
Due: none

ci: delegate backports through deterministic issues
  .github/AI-DOCS.md
  .github/copilot-instructions.md
  .github/skills/acn-backport/SKILL.md
  .github/workflows/backport.yaml
Due: none

ci: delegate backport conflicts to Copilot
  .github/workflows/backport.yaml
Due: none

fix(cns): populate MTNC IPv6 configuration
  cns/multitenantcontroller/multitenantoperator/dualstack_test.go
  cns/multitenantcontroller/multitenantoperator/multitenantcrdreconciler.go
  crd/multitenantnetworkcontainer/README.md
  crd/multitenantnetworkcontainer/api/v1alpha1/multitenantnetworkcontainer_types.go
  crd/multitenantnetworkcontainer/manifests/networking.azure.com_multitenantnetworkcontainers.yaml
  crd/multitenantnetworkcontainer/schema_test.go
Due: .pipelines/trigger.yaml

docs: remove MTNC README changes
  crd/multitenantnetworkcontainer/README.md
Due: .pipelines/trigger.yaml

docs: sync SwiftV2 long-running pipeline guidance
  .pipelines/swiftv2-long-running/LONGRUNNING-TESTS.md
  .pipelines/swiftv2-long-running/README.md
Due: .pipelines/trigger.yaml

feat(cns): gate MTNC IPv6 conversion
  cns/configuration/configuration.go
  cns/configuration/configuration_test.go
  cns/configuration/testdata/good.json
  cns/multitenantcontroller/multitenantoperator/dualstack_test.go
  cns/multitenantcontroller/multitenantoperator/multitenantcrdcontroller.go
  cns/multitenantcontroller/multitenantoperator/multitenantcrdcontroller_test.go
  cns/multitenantcontroller/multitenantoperator/multitenantcrdreconciler.go
  cns/service/main.go
Due: .pipelines/trigger.yaml

ci: install BPF build tools from the Azure Ubuntu mirror (#4977)
  .pipelines/build/scripts/azure-iptables-monitor.sh
  .pipelines/build/scripts/ipv6-hp-bpf.sh
Due: .pipelines/trigger.yaml

Honor IPv6 BPF registry override in Cilium 1.19
  test/integration/manifests/cilium/v1.19/cilium-agent/templates/daemonset-dualstack.yaml
Due: .pipelines/trigger.yaml

fix(cns): reconcile IPv6 for existing MTNCs
  cns/multitenantcontroller/mockclients/cnsrestservice_generated.go
  cns/multitenantcontroller/multitenantoperator/dualstack_test.go
  cns/multitenantcontroller/multitenantoperator/multitenantcrdreconciler.go
  cns/restserver/internalapi.go
  cns/restserver/internalapi_test.go
Due: .pipelines/trigger.yaml

fix(cns): clear MTNC IPv6 state when disabled
  cns/multitenantcontroller/multitenantoperator/dualstack_test.go
  cns/multitenantcontroller/multitenantoperator/multitenantcrdreconciler.go
  cns/multitenantcontroller/multitenantoperator/multitenantcrdreconciler_test.go
Due: .pipelines/trigger.yaml

ci: build and test linux/arm64 in NPM conformance, drop Windows leg
  .pipelines/npm/npm-conformance-tests.yaml
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

ci: wait for default ServiceAccounts before running policy-assistant (#4989)
  .pipelines/npm/npm-conformance-tests.yaml
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix(cns): reject unusable IPv6 gateway addresses
  cns/multitenantcontroller/multitenantoperator/dualstack_test.go
  cns/multitenantcontroller/multitenantoperator/multitenantcrdreconciler.go
Due: .pipelines/trigger.yaml

feat: provision SwiftV2 cross-region infrastructure
  .pipelines/swiftv2-long-running/pipeline.yaml
  .pipelines/swiftv2-long-running/scripts/create_cross_region_agents.sh
  .pipelines/swiftv2-long-running/scripts/create_cross_region_networking.sh
  .pipelines/swiftv2-long-running/scripts/create_cross_region_private_link.sh
  .pipelines/swiftv2-long-running/scripts/create_cross_region_service_tunnel.sh
  .pipelines/swiftv2-long-running/scripts/cross_region_common.sh
  .pipelines/swiftv2-long-running/template/infrastructure-setup-stage.yaml
  .pipelines/swiftv2-long-running/template/long-running-pipeline-template.yaml
Due: .pipelines/trigger.yaml

Enhance IPv6 address validation checks
  cns/multitenantcontroller/multitenantoperator/multitenantcrdreconciler.go
Due: .pipelines/trigger.yaml

Pin NPM conformance fork snapshots
  .pipelines/npm/README.md
  .pipelines/npm/npm-conformance-tests-latest-release.yaml
  .pipelines/npm/npm-conformance-tests.yaml
  .pipelines/npm/policy-assistant/go.mod
  .pipelines/npm/policy-assistant/go.sum
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

Add IPv6 HP BPF image override (#4972)
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/cilium-dualstack-ebpf/cilium-dualstack-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-job-template.yaml
  .pipelines/templates/network-install.yaml
  hack/scripts/parse_override_image.sh
  test/integration/manifests/cilium/v1.19/cilium-agent/templates/daemonset-dualstack.yaml
Due: .pipelines/trigger.yaml

ci: run the linux/arm64 NPM conformance leg only for npmImage overrides
  .pipelines/npm/npm-conformance-tests.yaml
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml
