Repository Azure/azure-container-networking: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

.pipelines/npm/npm-conformance-tests.yaml:
  stages:
  - stage: setup
    displayName: Setup
    jobs:
    - job: setup
      displayName: Configure Test Environment
      pool:
        name: $(BUILD_POOL_NAME_DEFAULT)
        demands:
        - agent.os -equals Linux
        - Role -equals Build
      steps:
      - checkout: self
      - script: 'go version
  
  ...

.pipelines/trigger.yaml:
  extends:
    template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: $(BUILD_POOL_NAME_DEFAULT_WINDOWS)
          os: windows
        codeql:
          compiled:
            enabled: true
  ...

Don't delete VMSS instances when the node query fails
  .pipelines/swiftv2-long-running/scripts/create_aks.sh
  .pipelines/swiftv2-long-running/scripts/ensure_zone_nodepools.sh
Due: .pipelines/trigger.yaml

Run the configured number of remediation attempts
  .pipelines/swiftv2-long-running/scripts/ensure_zone_nodepools.sh
Due: .pipelines/trigger.yaml

feat(faa): emit fix.md prompt and add draft-PR workflow
  .github/workflows/faa-draft-pr.yaml
  .pipelines/templates/failure-analysis.job.yaml
  tools/failure-agent/internal/fixprompt/fixprompt.go
  tools/failure-agent/internal/fixprompt/fixprompt_test.go
  tools/failure-agent/main.go
  tools/failure-agent/pipeline_test.go
Due: .pipelines/trigger.yaml

feat(faa): mention fix.md draft-prompt in the Teams notification
  .pipelines/failure-agent-teams-bot/scripts/notify-incident.sh
Due: .pipelines/trigger.yaml

feat(faa): add /faa history grounded Q&A over past reports corpus
  .pipelines/failure-agent-teams-bot/faa-history.job.yaml
  .pipelines/failure-agent-teams-bot/scripts/notify-answer.sh
  .pipelines/pipeline.yaml
  tools/failure-agent/go.mod
  tools/failure-agent/go.sum
  tools/failure-agent/internal/ask/history.go
  tools/failure-agent/internal/ask/history_test.go
  tools/failure-agent/internal/corpus/corpus.go
  tools/failure-agent/internal/corpus/corpus_test.go
  tools/failure-agent/main.go
Due: .pipelines/trigger.yaml

fix(faa): default FAA_STORAGE_CONTAINER to incidents in history job
  .pipelines/failure-agent-teams-bot/faa-history.job.yaml
Due: .pipelines/trigger.yaml

fix(faa): post /hfaa history answers to Teams as a standalone card
  .pipelines/failure-agent-teams-bot/faa-history.job.yaml
  .pipelines/failure-agent-teams-bot/scripts/notify-answer.sh
Due: .pipelines/trigger.yaml

fix test code that uses invalid spec fields
  cns/middlewares/k8sSwiftV2_test.go
Due: .pipelines/trigger.yaml

address copilot review comments
  crd/multitenancy/api/v1alpha1/multitenantpodnetworkconfig.go
  crd/multitenancy/api/v1alpha1/nicnetworkconfig.go
  crd/multitenancy/manifests/multitenancy.acn.azure.com_multitenantpodnetworkconfigs.yaml
  crd/multitenancy/manifests/multitenancy.acn.azure.com_nicnetworkconfigs.yaml
Due: .pipelines/trigger.yaml

rename availableIPs to reservedIPs with clear description
  crd/multitenancy/api/v1alpha1/nicnetworkconfig.go
  crd/multitenancy/api/v1alpha1/zz_generated.deepcopy.go
  crd/multitenancy/manifests/multitenancy.acn.azure.com_nicnetworkconfigs.yaml
Due: .pipelines/trigger.yaml

Changes to MTPNC and NICNC CRDs
  crd/multitenancy/api/v1alpha1/multitenantpodnetworkconfig.go
  crd/multitenancy/api/v1alpha1/nicnetworkconfig.go
  crd/multitenancy/manifests/multitenancy.acn.azure.com_multitenantpodnetworkconfigs.yaml
  crd/multitenancy/manifests/multitenancy.acn.azure.com_nicnetworkconfigs.yaml
Due: .pipelines/trigger.yaml

fix: use distroless/base for ipv6-hp-bpf (Go 1.26 compat)
  .pipelines/build/dockerfiles/ipv6-hp-bpf.Dockerfile
  bpf-prog/ipv6-hp-bpf/linux.Dockerfile
Due: .pipelines/trigger.yaml

Log why a node pool wait is still running
  .pipelines/swiftv2-long-running/scripts/ensure_zone_nodepools.sh
Due: .pipelines/trigger.yaml

fix: use distroless/base for ipv6-hp-bpf (Go 1.26 compat) [backport release/v1.7] (#4673)
  .pipelines/build/dockerfiles/ipv6-hp-bpf.Dockerfile
  bpf-prog/ipv6-hp-bpf/linux.Dockerfile
Due: .pipelines/trigger.yaml

ci: run remaining Cilium connectivity tests
  .pipelines/networkobservability/pipeline.yaml
  .pipelines/templates/cilium-connectivity-tests.yaml
Due: .pipelines/trigger.yaml

test: enable service traffic policy e2e tests
  .pipelines/cni/k8s-e2e/k8s-e2e-job-template.yaml
  .pipelines/cni/k8s-e2e/k8s-e2e.jobs.yaml
Due: .pipelines/trigger.yaml

chore: preserve pipeline template formatting
  .pipelines/cni/k8s-e2e/k8s-e2e-job-template.yaml
Due: .pipelines/trigger.yaml

ci: fix Swiftv2 Manifold pipeline trigger
  .pipelines/multitenancy/swiftv2-manifold-e2e.stages.yaml
Due: .pipelines/trigger.yaml

ci: publish the release drop as a single pipeline artifact
  .pipelines/containers/manifest-template.yaml
  .pipelines/pipeline.yaml
Due: .pipelines/trigger.yaml

ci: forward-port OneBranch npm build fixes from release/v1.6 to master (#4640)
  .pipelines/build/dockerfiles/npm.Dockerfile
  .pipelines/build/ob-prepare.steps.yaml
  .pipelines/build/scripts/install-go.sh
Due: .pipelines/trigger.yaml

ci: address review — redirect grep stderr and drop redundant `|| true`
  .pipelines/build/scripts/install-go.sh
Due: .pipelines/trigger.yaml

chore: restore template trailing newline
  .pipelines/cni/k8s-e2e/k8s-e2e-job-template.yaml
Due: .pipelines/trigger.yaml

fix: run release channel post in parallel with pipeline validation
  .github/workflows/scheduled-release.yaml
Due: none

ci: re-enable npm in the signed OneBranch build
  .pipelines/run-pipeline.yaml
Due: .pipelines/trigger.yaml

fix: swap Steps 4/5, add pipeline retry, post to release channel
  .github/workflows/scheduled-release.yaml
Due: none

fix: [NPM] correct malformed Windows image default CMD
  .pipelines/build/dockerfiles/npm.Dockerfile
  npm/windows.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

feat: split schedule into 1st-of-month notification + first-Friday tag creation
  .github/workflows/scheduled-release.yaml
Due: none

initial put/delete NC and subnet join related changes for RNC via NMA
  cns/NetworkContainerContract.go
  cns/fakes/wireserverproxyfake.go
  cns/restserver/api.go
  cns/restserver/const.go
  cns/restserver/restserver.go
  cns/restserver/util.go
  cns/types/codes.go
  cns/wireserver/proxy.go
  nmagent/requests.go
Due: .pipelines/trigger.yaml

fix: [NPM] use ms_nocgo_opensslcrypto for Go 1.26 crypto backend
  npm/linux.Dockerfile
  npm/windows.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix minor issues
  cns/restserver/api.go
  cns/restserver/api_test.go
  cns/restserver/restserver.go
Due: .pipelines/trigger.yaml

fix
  .pipelines/faa-metrics/scripts/build_dataset.py
Due: .pipelines/trigger.yaml

fix2
  .pipelines/faa-metrics/README.md
  .pipelines/faa-metrics/faa-metrics.job.yaml
  .pipelines/faa-metrics/scripts/build_dataset.py
  .pipelines/faa-metrics/scripts/common.py
  .pipelines/faa-metrics/scripts/enrich.py
Due: .pipelines/trigger.yaml

feat: last Friday notification + first Friday tag creation with pause gate
  .github/workflows/scheduled-release.yaml
Due: none

fix: [NPM] don't set the Linux OpenSSL Go experiment for Windows builds
  .pipelines/build/scripts/npm.sh
  npm/windows.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

Fix FAA metrics AOAI 400 and extend date range
  .pipelines/faa-metrics/scripts/enrich.py
  .pipelines/pipeline.yaml
Due: .pipelines/trigger.yaml

fix: add fetch-tags to detect_binary_changes checkout
  .github/workflows/scheduled-release.yaml
Due: none

fix: update all azure/login pins to v3.0.1 (f5d393ae)
  .github/workflows/scheduled-release.yaml
Due: none

Cap and parallelize FAA metrics AI enrichment
  .pipelines/faa-metrics/README.md
  .pipelines/faa-metrics/faa-metrics.job.yaml
  .pipelines/faa-metrics/scripts/enrich.py
  .pipelines/pipeline.yaml
Due: .pipelines/trigger.yaml

Path conditions:
  .pipelines/npm/npm-conformance-tests.yaml: any of: npm, .pipelines/npm
  .pipelines/trigger.yaml: any file but: .devcontainer, .hooks, .vscode, .github, docs
