Repository Azure/azure-container-networking: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

.pipelines/npm/npm-conformance-tests.yaml:
  stages:
  - stage: setup
    displayName: Setup
    jobs:
    - job: setup
      displayName: Configure Test Environment
      pool:
        name: $(BUILD_POOL_NAME_DEFAULT)
        demands:
        - agent.os -equals Linux
        - Role -equals Build
      steps:
      - checkout: self
      - script: 'go version
  
  ...

.pipelines/trigger.yaml:
  extends:
    template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: $(BUILD_POOL_NAME_DEFAULT_WINDOWS)
          os: windows
        codeql:
          compiled:
            enabled: true
  ...

working prometheus
  test/scale/nodereadiness/Taskfile.yaml
  test/scale/nodereadiness/files/nncscale_pod.yaml
  test/scale/nodereadiness/files/prom-deployment.yaml
  test/scale/nodereadiness/files/prom_rbac.yaml
Due: .pipelines/trigger.yaml

clean up docs
  test/scale/nodereadiness/README
  test/scale/nodereadiness/Taskfile.yaml
  test/scale/nodereadiness/files/grafana.yaml
  test/scale/nodereadiness/genkwok.sh
Due: .pipelines/trigger.yaml

add p50, p99, min, max, average to nnc readiness
  test/scale/skale/skale.go
  test/scale/skale/watch.go
Due: .pipelines/trigger.yaml

updates for tolerations, integrate skale
  test/scale/nodereadiness/Taskfile.yaml
  test/scale/nodereadiness/files/grafana.yaml
  test/scale/nodereadiness/files/nncscale_pod.yaml
  test/scale/nodereadiness/files/prom-deployment.yaml
  test/scale/nodereadiness/files/prometheus.yml
Due: .pipelines/trigger.yaml

working pod image and rbac
  test/scale/nodereadiness/Taskfile.yaml
  test/scale/nodereadiness/files/nncscale_pod.yaml
  test/scale/nodereadiness/files/nncscale_rbac.yaml
  test/scale/nodereadiness/files/prom-deployment.yaml
  test/scale/nodereadiness/files/prometheus.yml
  test/scale/nodereadiness/kwok-node.yaml
  test/scale/nodereadiness/latency.go
Due: .pipelines/trigger.yaml

add watch subcommand to get and avg nnc ready latency
  test/scale/skale/go.mod
  test/scale/skale/go.sum
  test/scale/skale/skale.go
  test/scale/skale/watch.go
Due: .pipelines/trigger.yaml

reorg
  test/scale/skale/cmd/skale.go
  test/scale/skale/cmd/skwok.go
  test/scale/skale/cmd/watch.go
  test/scale/skale/go.mod
  test/scale/skale/go.sum
  test/scale/skale/main.go
  test/scale/skale/pkg/nodes/nodes.go
  test/scale/skale/skale.go
Due: .pipelines/trigger.yaml

fix latency metrics by only accounting for kwok nodes
  test/scale/nodereadiness/Taskfile.yaml
  test/scale/nodereadiness/latency.go
Due: .pipelines/trigger.yaml

add nodeready metric
  test/scale/nodereadiness/README
  test/scale/nodereadiness/Taskfile.yaml
  test/scale/nodereadiness/latency.go
Due: .pipelines/trigger.yaml

feat: Implement DeleteEndpointState API and integrate with network manager
  cns/client/client.go
  cns/restserver/ipam.go
  network/manager.go
Due: .pipelines/trigger.yaml

chore: add more owners to bpf-prog
  .github/CODEOWNERS
Due: none

chore:dockerfiles
  cni/Dockerfile
  cns/Dockerfile
Due: .pipelines/trigger.yaml

refactor: Remove unnecessary locking in DeleteEndpointStateHandler
  cns/restserver/ipam.go
Due: .pipelines/trigger.yaml

fixed cve CVE-2025-40909
  npm/linux.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

update label
  azure-iptables-monitor/iptables_monitor.go
Due: .pipelines/trigger.yaml

chore: clean up go tool cover
  Makefile
Due: .pipelines/trigger.yaml

chore: add back go-junit-report tool install
  .pipelines/templates/run-unit-tests.yaml
  Makefile
Due: .pipelines/trigger.yaml

chore: cleanup rebase
  .github/workflows/baseimages.yaml
  .github/workflows/codeql.yaml
  .github/workflows/golangci.yaml
  Makefile
  build/images.mk
  crd/clustersubnetstate/Makefile
  crd/multitenancy/Makefile
  crd/multitenantnetworkcontainer/Makefile
  crd/nodenetworkconfig/Makefile
  crd/overlayextensionconfig/Makefile
  tools.go.mod
  tools.go.sum
Due: .pipelines/trigger.yaml

chore: clean up cns non-constant Sprintf usage
  cns/service/main.go
Due: .pipelines/trigger.yaml

chore: address comments
  .pipelines/templates/run-unit-tests.yaml
  Makefile
  cns/multitenantcontroller/mockclients/Makefile
  npm/pkg/dataplane/Makefile
  platform/Makefile
  scripts/install-protoc.sh
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

chore: regenerate crds
  .github/workflows/crdgen.yaml
  .pipelines/templates/unit-tests.stages.yaml
  Makefile
  crd/clustersubnetstate/manifests/acn.azure.com_clustersubnetstates.yaml
  crd/multitenancy/manifests/multitenancy.acn.azure.com_multitenantpodnetworkconfigs.yaml
  crd/multitenancy/manifests/multitenancy.acn.azure.com_nodeinfo.yaml
  crd/multitenancy/manifests/multitenancy.acn.azure.com_podnetworkinstances.yaml
  crd/multitenancy/manifests/multitenancy.acn.azure.com_podnetworks.yaml
  crd/multitenantnetworkcontainer/manifests/networking.azure.com_multitenantnetworkcontainers.yaml
  crd/nodenetworkconfig/manifests/acn.azure.com_nodenetworkconfigs.yaml
  crd/overlayextensionconfig/manifests/acn.azure.com_overlayextensionconfigs.yaml
Due: .pipelines/trigger.yaml

chore: clean up cni non-constant Errorf usage
  cni/network/network.go
Due: .pipelines/trigger.yaml

revert: ipv6 image from azurelinux to base
  bpf-prog/ipv6-hp-bpf/linux.Dockerfile
Due: .pipelines/trigger.yaml

chore: pre-review cleanup
  .github/workflows/baseimages.yaml
  Makefile
  build/images.mk
  scripts/install-protoc.sh
Due: .pipelines/trigger.yaml

chore: clean up test non-constant Errorf usage
  test/internal/kubernetes/utils.go
Due: .pipelines/trigger.yaml

chore: cleanup windows NPM
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

chore: generate bpf-lib(s) for block-iptables in signed UTs
  .pipelines/templates/run-unit-tests.stages.yaml
Due: .pipelines/trigger.yaml

chore: clean up npm non-constant Sprintf usage
  npm/ipsm/ipsm.go
  npm/ipsm/ipsm_test.go
  npm/iptm/iptm.go
  npm/metrics/ai-utils.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/debug/converter_test.go
  npm/pkg/dataplane/ipsets/dirtycache.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

feat: Add App Gateway Subnet ID as a field to the Overlay Extension Config CRD
  crd/overlayextensionconfig/api/v1alpha1/overlayextensionconfig_types.go
  crd/overlayextensionconfig/manifests/acn.azure.com_overlayextensionconfigs.yaml
Due: .pipelines/trigger.yaml

fix: Fixed the lint error from the pipeline
  crd/overlayextensionconfig/api/v1alpha1/overlayextensionconfig_types.go
Due: .pipelines/trigger.yaml

fix: Fixed the CRD Generation error from the pipelines
  crd/overlayextensionconfig/manifests/acn.azure.com_overlayextensionconfigs.yaml
Due: .pipelines/trigger.yaml

[NPM] [Vulnerability] Resolve CVE-2025-40909 in perl-base Library (#3922)
  npm/linux.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: Updated the name to be specific that we require the subnet Guid and not ARM ID
  crd/overlayextensionconfig/api/v1alpha1/overlayextensionconfig_types.go
Due: .pipelines/trigger.yaml

fix: Keeping the IP Range field as optional
  crd/overlayextensionconfig/api/v1alpha1/overlayextensionconfig_types.go
Due: .pipelines/trigger.yaml

fix: Making the App Gateway Subnet ID field as optional to avoid breaking existing clusters where this field is not populated
  crd/overlayextensionconfig/api/v1alpha1/overlayextensionconfig_types.go
Due: .pipelines/trigger.yaml

fix: Updated CRD to fix CRDGen Error
  crd/overlayextensionconfig/manifests/acn.azure.com_overlayextensionconfigs.yaml
Due: .pipelines/trigger.yaml

feat: Add conditional check for NIC type (FrontendNic) in DeleteState method to enhance endpoint deletion logic
  network/manager.go
Due: .pipelines/trigger.yaml

removed manual package installations
  npm/linux.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

removed manual installation of perl-base
  npm/linux.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

Path conditions:
  .pipelines/npm/npm-conformance-tests.yaml: any of: npm, .pipelines/npm
  .pipelines/trigger.yaml: any file but: .devcontainer, .hooks, .vscode, .github, docs
