Repository Azure/azure-container-networking: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

.pipelines/npm/npm-conformance-tests.yaml:
  stages:
  - stage: setup
    displayName: Setup
    jobs:
    - job: setup
      displayName: Configure Test Environment
      pool:
        name: $(BUILD_POOL_NAME_DEFAULT)
        demands:
        - agent.os -equals Linux
        - Role -equals Build
      steps:
      - checkout: self
      - script: 'go version
  
  ...

.pipelines/trigger.yaml:
  extends:
    template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: $(BUILD_POOL_NAME_DEFAULT_WINDOWS)
          os: windows
        codeql:
          compiled:
            enabled: true
  ...

ci: disable buildx provenance so multiarch manifests resolve platform tags
  .pipelines/containers/container-template.yaml
Due: .pipelines/trigger.yaml

ci: fix remaining v1.7 validation jobs
  .pipelines/singletenancy/aks-swift/e2e-job-template.yaml
  .pipelines/singletenancy/aks/e2e-job-template.yaml
  .pipelines/templates/network-install.yaml
Due: .pipelines/trigger.yaml

ci: refresh pipelines with image override support (#4307)
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/aks-swift/e2e-job-template.yaml
  .pipelines/singletenancy/aks/e2e-job-template.yaml
  .pipelines/singletenancy/aks/e2e-step-template.yaml
  .pipelines/singletenancy/azure-cni-overlay/azure-cni-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-ebpf/cilium-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-ebpf/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-ebpf/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-step-template.yaml
  .pipelines/singletenancy/dualstack-overlay/dualstackoverlay-e2e-job-template.yaml
  Makefile
  hack/scripts/parse_override_image.sh
Due: .pipelines/trigger.yaml

ci: adapt prerequisite backports for v1.7
  .pipelines/pipeline.yaml
  .pipelines/templates/network-install.yaml
Due: .pipelines/trigger.yaml

fix: [NPM] compile multi-value namespaceSelector NotIn as a single conjunction
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] address review feedback on multi-value NotIn compilation
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

ci: restore conditional e2e setup for v1.7
  .pipelines/pipeline.yaml
  .pipelines/templates/git-diff-check.yaml
  hack/scripts/check-changed-files.sh
Due: .pipelines/trigger.yaml

test: [NPM] add end-to-end TranslatePolicy coverage for multi-value NotIn
  npm/pkg/controlplane/translation/translatePolicy_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: multiple release workflow fixes for first live run
  .github/workflows/scheduled-release.yaml
  tools/release/cmd/release-cli/main.go
  tools/release/internal/version/version.go
Due: .pipelines/trigger.yaml

feat: post tag approval link to CNI channel and tracking issue
  .github/workflows/scheduled-release.yaml
Due: none

ci: fix release/v1.6 signed OneBranch build and align npm to unsigned (Go 1.25)
  .pipelines/build/dockerfiles/npm.Dockerfile
  .pipelines/build/ob-prepare.steps.yaml
  .pipelines/build/scripts/install-go.sh
  .pipelines/build/scripts/npm.sh
Due: .pipelines/trigger.yaml

test: [NPM] assert full allow/drop ACL invariant for multi-value NotIn
  npm/pkg/controlplane/translation/translatePolicy_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

test: [NPM] tighten NotIn ACL assertions and cover matchLabels + NotIn
  npm/pkg/controlplane/translation/translatePolicy_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

feat(failure-agent): add two-way /faa grounded Q&A ask mode + faa-ask pipeline
  .pipelines/failure-agent-teams-bot/faa-ask.pipeline.yml
  .pipelines/failure-agent-teams-bot/scripts/notify-answer.sh
  .pipelines/templates/failure-analysis.job.yaml
  tools/failure-agent/internal/ask/ask.go
  tools/failure-agent/internal/ask/ask_test.go
  tools/failure-agent/internal/ask/prompt.go
  tools/failure-agent/internal/classify/llm.go
  tools/failure-agent/main.go
Due: .pipelines/trigger.yaml

fix: add install-go.sh hardening (rm stale Go, pin GOTOOLCHAIN, clean cache)
  .pipelines/build/scripts/install-go.sh
Due: .pipelines/trigger.yaml

ci: fix release/v1.6 signed OneBranch build and align signed npm to unsigned (Go 1.25) (#4640)
  .pipelines/build/dockerfiles/cns.Dockerfile
  .pipelines/build/dockerfiles/npm.Dockerfile
  .pipelines/build/ob-prepare.steps.yaml
  .pipelines/build/scripts/install-go.sh
  .pipelines/build/scripts/npm.sh
Due: .pipelines/trigger.yaml

ci(failure-agent): add faa_ask stage to ACN pipeline for grounded /faa Q&A
  .pipelines/failure-agent-teams-bot/faa-ask.job.yaml
  .pipelines/pipeline.yaml
Due: .pipelines/trigger.yaml

fix: revert distroless/minimal to distroless/base for Go 1.26 compat
  .pipelines/build/dockerfiles/azure-ip-masq-merger.Dockerfile
  .pipelines/build/dockerfiles/azure-ipam.Dockerfile
  .pipelines/build/dockerfiles/azure-iptables-monitor.Dockerfile
  .pipelines/build/dockerfiles/cni.Dockerfile
  .pipelines/build/dockerfiles/cns.Dockerfile
  azure-ip-masq-merger/Dockerfile
  azure-ipam/Dockerfile
  azure-iptables-monitor/Dockerfile
  build/images.mk
  cni/Dockerfile
  cns/Dockerfile
Due: .pipelines/trigger.yaml

fix: remove duplicate installCiliumCLI step includes
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e.steps.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e.steps.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e.steps.yaml
  .pipelines/singletenancy/cilium/cilium-e2e.steps.yaml
Due: .pipelines/trigger.yaml

fix(faa-ask): resolve build number to id and clarify artifact download errors
  .pipelines/failure-agent-teams-bot/faa-ask.job.yaml
Due: .pipelines/trigger.yaml

fix(faa-ask): thread reply on resolved numeric build id
  .pipelines/failure-agent-teams-bot/faa-ask.job.yaml
Due: .pipelines/trigger.yaml

fix: [NPM] fail closed on unsupported selector operators; harden NotIn tests
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix(faa-ask): thread reply on resolved build id and add standalone-card fallback
  .pipelines/failure-agent-teams-bot/faa-ask.job.yaml
  .pipelines/failure-agent-teams-bot/scripts/notify-answer.sh
Due: .pipelines/trigger.yaml

fix(ci): validate stateless Windows node restarts
  .pipelines/scripts/restart-windows-vmss-instances.sh
  .pipelines/singletenancy/azure-cni-overlay-stateless/azure-cni-overlay-stateless-e2e-job-template.yaml
  .pipelines/singletenancy/azure-cni-overlay-stateless/azure-cni-overlay-stateless-e2e-step-template.yaml
  test/integration/load/load_test.go
  test/validate/utils_test.go
  test/validate/validate.go
  test/validate/validate_restart_test.go
Due: .pipelines/trigger.yaml

fix(faa-ask): only pull FAA artifacts and bound downloads to avoid job timeout
  .pipelines/failure-agent-teams-bot/faa-ask.job.yaml
Due: .pipelines/trigger.yaml

ci: remove duplicate scheduled-release workflow from release/v1.7
  .github/workflows/scheduled-release.yaml
Due: none

test/cilium: set mesh-auth-enabled to false in v1.17 configs
  test/integration/manifests/cilium/v1.17/cilium-config/cilium-config-dualstack.yaml
  test/integration/manifests/cilium/v1.17/cilium-config/cilium-config-hubble.yaml
  test/integration/manifests/cilium/v1.17/cilium-config/cilium-config.yaml
Due: .pipelines/trigger.yaml

test/cilium: set mesh-auth-enabled to false in v1.17 configs [backport release/v1.7] (#4669)
  test/integration/manifests/cilium/v1.17/cilium-config/cilium-config-dualstack.yaml
  test/integration/manifests/cilium/v1.17/cilium-config/cilium-config-hubble.yaml
  test/integration/manifests/cilium/v1.17/cilium-config/cilium-config.yaml
Due: .pipelines/trigger.yaml

fix(swiftv2-long-running): make node readiness waits handle missing nodes
  .pipelines/swiftv2-long-running/scripts/create_aks.sh
  .pipelines/swiftv2-long-running/scripts/ensure_zone_nodepools.sh
Due: .pipelines/trigger.yaml

Report unreachable nodes instead of deleting them
  .pipelines/swiftv2-long-running/scripts/create_aks.sh
Due: .pipelines/trigger.yaml

Move BYON provisioning into its own stage
  .pipelines/swiftv2-long-running/LONGRUNNING-TESTS.md
  .pipelines/swiftv2-long-running/template/infrastructure-setup-stage.yaml
  .pipelines/swiftv2-long-running/template/long-running-pipeline-template.yaml
Due: .pipelines/trigger.yaml

fix(cilium-log-collector): bump fluent-bit base image to v4.2.3-16
  .pipelines/build/dockerfiles/cilium-log-collector.Dockerfile
  .pipelines/build/dockerfiles/cilium-log-collector.Dockerfile.tmpl
  cilium-log-collector/Dockerfile
  cilium-log-collector/Dockerfile.tmpl
Due: .pipelines/trigger.yaml

fix: repair pre-existing Windows unit-test failures
  cni/network/network_windows_test.go
  cns/networkcontainers/networkcontainers_windows.go
Due: .pipelines/trigger.yaml

Gate subnet delegation on the delegation GUID
  .pipelines/swiftv2-long-running/scripts/create_vnets.sh
Due: .pipelines/trigger.yaml

Don't re-delegate a subnet whose state could not be read
  .pipelines/swiftv2-long-running/scripts/create_vnets.sh
Due: .pipelines/trigger.yaml

Path conditions:
  .pipelines/npm/npm-conformance-tests.yaml: any of: npm, .pipelines/npm
  .pipelines/trigger.yaml: any file but: .devcontainer, .hooks, .vscode, .github, docs
