Repository Azure/azure-container-networking: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

Path conditions:
  .pipelines/npm/npm-conformance-tests.yaml: any of: npm, .pipelines/npm
  .pipelines/trigger.yaml: any file but: .devcontainer, .hooks, .vscode, .github, docs

Added libgcrypt20=1.10.3-2ubuntu0.1 pin
  npm/linux.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: sort epInfos to process InfraNIC first before EndpointCreate
  cni/network/network.go
  cni/network/network_linux_test.go
Due: .pipelines/trigger.yaml

refactor: extract isInfraOrLegacyNICType helper and rewrite sort test
  cni/network/network.go
  cni/network/network_linux_test.go
Due: .pipelines/trigger.yaml

cni/network: skip AccelNet IOV policy and EnableIov flag on FrontendNIC
  network/endpoint_windows.go
  network/network_windows.go
  network/network_windows_test.go
Due: .pipelines/trigger.yaml

refactor: extract sortInfraNICFirst and isInfraOrLegacyNICType helpers
  cni/network/network.go
  cni/network/network_linux_test.go
Due: .pipelines/trigger.yaml

ci: clean up agent disk space before binary build
  .pipelines/pipeline.yaml
  .pipelines/templates/disk-cleanup.steps.yaml
Due: .pipelines/trigger.yaml

test(cns): bump distroless/minimal image SHA
  cns/Dockerfile
Due: .pipelines/trigger.yaml

ci: use shared disk-cleanup template in container build
  .pipelines/containers/container-template.yaml
Due: .pipelines/trigger.yaml

fix(cns): bump cbl-mariner/base/core image SHA
  cns/Dockerfile
Due: .pipelines/trigger.yaml

ci: preserve /opt/hostedtoolcache during disk cleanup
  .pipelines/templates/disk-cleanup.steps.yaml
Due: .pipelines/trigger.yaml

ci: clean up agent disk space before binary build (release/v1.6) (#4434)
  .pipelines/containers/container-template.yaml
  .pipelines/pipeline.yaml
  .pipelines/templates/disk-cleanup.steps.yaml
  cns/Dockerfile
Due: .pipelines/trigger.yaml

[NPM] [Vulnerability] Resolve Ubuntu and Gobinary CVES in v1.6.42 Image (#4428)
  .github/workflows/baseimages.yaml
  .github/workflows/codeql.yaml
  .github/workflows/crdgen.yaml
  .github/workflows/cyclonus-netpol-extended-nightly-test.yaml
  .github/workflows/cyclonus-netpol-test.yaml
  .github/workflows/golangci.yaml
  cni/network/network.go
  cns/service/main.go
  go.mod
  go.sum
  npm/ipsm/ipsm.go
  npm/ipsm/ipsm_test.go
  npm/iptm/iptm.go
  npm/linux.Dockerfile
  npm/metrics/ai-utils.go
  npm/pkg/dataplane/dataplane.go
  npm/pkg/dataplane/debug/converter_test.go
  npm/pkg/dataplane/ipsets/dirtycache.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux.go
  test/internal/kubernetes/utils.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

update npm windows for go 1.24
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

update in network too
  network/endpoint_windows.go
  network/hnswrapper/hnsv2wrapperwithtimeout.go
Due: .pipelines/trigger.yaml

ci: clean up agent disk space before binary build (release/v1.7) (#4433)
  .pipelines/containers/container-template.yaml
  .pipelines/pipeline.yaml
  .pipelines/templates/disk-cleanup.steps.yaml
Due: .pipelines/trigger.yaml

chore: run go mod tidy and bump tools.go.mod to 1.26
  tools.go.mod
  tools.go.sum
Due: .pipelines/trigger.yaml

fix: bump Go version to 1.26
  .devcontainer/Dockerfile
  .pipelines/build/scripts/azure-ip-masq-merger.sh
  .pipelines/build/scripts/azure-ipam.sh
  .pipelines/build/scripts/azure-iptables-monitor.sh
  .pipelines/build/scripts/cilium-log-collector.sh
  .pipelines/build/scripts/cni.sh
  .pipelines/build/scripts/cns.sh
  .pipelines/build/scripts/dropgz.sh
  .pipelines/build/scripts/install-go.sh
  .pipelines/build/scripts/ipv6-hp-bpf.sh
  .pipelines/build/scripts/npm.sh
  azure-ip-masq-merger/Dockerfile
  azure-ip-masq-merger/Dockerfile.tmpl
  azure-ipam/Dockerfile
  azure-ipam/Dockerfile.tmpl
  azure-iptables-monitor/Dockerfile
  azure-iptables-monitor/Dockerfile.tmpl
  bpf-prog/ipv6-hp-bpf/linux.Dockerfile
  build/images.mk
  cilium-log-collector/Dockerfile
  cilium-log-collector/Dockerfile.tmpl
  cni/Dockerfile
  cni/Dockerfile.tmpl
  cns/Dockerfile
  cns/Dockerfile.tmpl
  go.mod
  npm/linux.Dockerfile
  npm/windows.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: address review feedback - move tools-go, fix GOEXPERIMENT, bump to 1.26.1
  .pipelines/build/scripts/azure-ip-masq-merger.sh
  .pipelines/build/scripts/azure-ipam.sh
  .pipelines/build/scripts/azure-iptables-monitor.sh
  .pipelines/build/scripts/cni.sh
  .pipelines/build/scripts/cns.sh
  .pipelines/build/scripts/dropgz.sh
  .pipelines/build/scripts/ipv6-hp-bpf.sh
  .pipelines/build/scripts/npm.sh
  Makefile
  azure-ip-masq-merger/Dockerfile
  azure-ip-masq-merger/Dockerfile.tmpl
  azure-ipam/Dockerfile
  azure-ipam/Dockerfile.tmpl
  azure-iptables-monitor/Dockerfile
  azure-iptables-monitor/Dockerfile.tmpl
  bpf-prog/ipv6-hp-bpf/linux.Dockerfile
  cni/Dockerfile
  cni/Dockerfile.tmpl
  cns/Dockerfile
  cns/Dockerfile.tmpl
  cns/multitenantcontroller/mockclients/Makefile
  crd/clustersubnetstate/Makefile
  crd/multitenancy/Makefile
  crd/multitenantnetworkcontainer/Makefile
  crd/nodenetworkconfig/Makefile
  crd/overlayextensionconfig/Makefile
  go.mod
  npm/linux.Dockerfile
  npm/pkg/dataplane/Makefile
  npm/windows.Dockerfile
  platform/Makefile
  scripts/install-protoc.sh
  tools-go/go.mod
  tools-go/go.sum
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

feat: Go version auto-bump workflow with Copilot agent for minor upgrades
  .github/copilot-instructions.md
  .github/workflows/go-version-check.yaml
Due: none

fix: restructure as skills, version-aware FIPS, fix tools-go path
  .github/AI-DOCS.md
  .github/copilot-instructions.md
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/go-version-check.yaml
Due: none

chore(images): re-render Dockerfiles
  cni/Dockerfile
  cns/Dockerfile
Due: .pipelines/trigger.yaml

chore(images): re-render Dockerfiles
  .pipelines/build/dockerfiles/azure-iptables-monitor.Dockerfile
  .pipelines/build/dockerfiles/cns.Dockerfile
  azure-ipam/Dockerfile
  azure-iptables-monitor/Dockerfile
  cni/Dockerfile
  cns/Dockerfile
Due: .pipelines/trigger.yaml

feat: add ci-mx custom agent for deterministic CI failure resolution
  .github/agents/ci-mx.md
Due: none

test: update cilium daemonset templates for v1.17-v1.19
  test/integration/manifests/cilium/v1.17/cilium-agent/templates/daemonset-dualstack.yaml
  test/integration/manifests/cilium/v1.17/cilium-agent/templates/daemonset.yaml
  test/integration/manifests/cilium/v1.18/cilium-agent/templates/daemonset.yaml
  test/integration/manifests/cilium/v1.19/cilium-agent/templates/daemonset.yaml
Due: .pipelines/trigger.yaml

fix: image pull policy
  test/integration/manifests/cilium/v1.17/cilium-agent/templates/daemonset.yaml
Due: .pipelines/trigger.yaml

ipam initialization fix
  cns/ipampool/v2/monitor.go
  cns/ipampool/v2/monitor_test.go
Due: .pipelines/trigger.yaml

fix: use GOEXPERIMENT=ms_nocgo_opensslcrypto for CGO_ENABLED=0 builds
  .pipelines/build/dockerfiles/azure-iptables-monitor.Dockerfile
  .pipelines/build/dockerfiles/cns.Dockerfile
  .pipelines/build/scripts/azure-ip-masq-merger.sh
  .pipelines/build/scripts/azure-ipam.sh
  .pipelines/build/scripts/azure-iptables-monitor.sh
  .pipelines/build/scripts/cni.sh
  .pipelines/build/scripts/cns.sh
  .pipelines/build/scripts/dropgz.sh
  .pipelines/build/scripts/ipv6-hp-bpf.sh
  .pipelines/build/scripts/npm.sh
  Makefile
  azure-ip-masq-merger/Dockerfile
  azure-ip-masq-merger/Dockerfile.tmpl
  azure-ipam/Dockerfile
  azure-ipam/Dockerfile.tmpl
  azure-iptables-monitor/Dockerfile
  azure-iptables-monitor/Dockerfile.tmpl
  bpf-prog/ipv6-hp-bpf/linux.Dockerfile
  cilium-log-collector/Dockerfile
  cilium-log-collector/Makefile
  cni/Dockerfile
  cni/Dockerfile.tmpl
  cns/Dockerfile
  cns/Dockerfile.tmpl
  npm/linux.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: workflow uses ms_nocgo_opensslcrypto for CGO_ENABLED=0 detection
  .github/copilot-instructions.md
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/go-version-check.yaml
Due: none

fix: pin npm Dockerfiles to digest and update install-go.sh fallback
  .pipelines/build/scripts/install-go.sh
  npm/linux.Dockerfile
  npm/windows.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: address rbtr review - use make contracts, actions/setup-go
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/go-version-check.yaml
  build/images.mk
Due: .pipelines/trigger.yaml

fix: eliminate text-parsing reliance across workflow
  .github/workflows/go-version-check.yaml
  build/images.mk
Due: .pipelines/trigger.yaml
