Repository Azure/azure-container-networking: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

.pipelines/npm/npm-conformance-tests.yaml:
  stages:
  - stage: setup
    displayName: Setup
    jobs:
    - job: setup
      displayName: Configure Test Environment
      pool:
        name: $(BUILD_POOL_NAME_DEFAULT)
        demands:
        - agent.os -equals Linux
        - Role -equals Build
      steps:
      - checkout: self
      - script: 'go version
  
  ...

.pipelines/trigger.yaml:
  extends:
    template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: $(BUILD_POOL_NAME_DEFAULT_WINDOWS)
          os: windows
        codeql:
          compiled:
            enabled: true
  ...

fix: select Cilium operator image by name
  .pipelines/cni/lsg/verify-network-images.yaml
Due: .pipelines/trigger.yaml

ci: modernize LSG kernel validation pipeline (#4751)
  .pipelines/cni/lsg/lsg-cni-integration-template.yaml
  .pipelines/cni/lsg/pipeline.yaml
  .pipelines/cni/lsg/verify-network-images.yaml
  .pipelines/templates/cilium-cli.yaml
  .pipelines/templates/cilium-connectivity-tests.yaml
  .pipelines/templates/network-install.yaml
Due: .pipelines/trigger.yaml

fix: [NPM] compile multi-value namespaceSelector NotIn as a single conjunction
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] scope negation-only namespaceSelector matches to cluster namespaces
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] bound namespaceSelector flattening
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] canonicalize ipBlock CIDRs and stop reporting failed translation as success
  npm/pkg/controlplane/controllers/v2/networkPolicyController.go
  npm/pkg/controlplane/controllers/v2/networkPolicyController_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/util/util.go
  npm/util/util_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

test: add dual-stack podsubnet eBPF manifests
  hack/aks/deploy.mk
  test/integration/manifests/cilium/v1.17/ebpf/podsubnet-dualstack/cilium.yaml
  test/integration/manifests/cilium/v1.17/ebpf/podsubnet-dualstack/static/allowed-ip6tables-patterns.yaml
  test/integration/manifests/cilium/v1.17/ebpf/podsubnet-dualstack/static/azure-dns-imds-ip-masq-agent-config.yaml
  test/integration/manifests/cilium/v1.17/ebpf/podsubnet-dualstack/static/cilium-config.yaml
  test/integration/manifests/cilium/v1.18/ebpf/podsubnet-dualstack/cilium.yaml
  test/integration/manifests/cilium/v1.18/ebpf/podsubnet-dualstack/static/allowed-ip6tables-patterns.yaml
  test/integration/manifests/cilium/v1.18/ebpf/podsubnet-dualstack/static/azure-dns-imds-ip-masq-agent-config.yaml
  test/integration/manifests/cilium/v1.18/ebpf/podsubnet-dualstack/static/cilium-config.yaml
  test/integration/manifests/cilium/v1.19/ebpf/podsubnet-dualstack/cilium.yaml
  test/integration/manifests/cilium/v1.19/ebpf/podsubnet-dualstack/static/allowed-ip6tables-patterns.yaml
  test/integration/manifests/cilium/v1.19/ebpf/podsubnet-dualstack/static/azure-dns-imds-ip-masq-agent-config.yaml
  test/integration/manifests/cilium/v1.19/ebpf/podsubnet-dualstack/static/cilium-config.yaml
Due: .pipelines/trigger.yaml

test: add PONv6 BYO CNI cluster target
  hack/aks/Makefile
Due: .pipelines/trigger.yaml

give faa code citations for change under test (#4744)
  .pipelines/templates/failure-analysis.job.yaml
  .pipelines/templates/log-template.yaml
  tools/failure-agent/internal/classify/investigation-playbook.md
  tools/failure-agent/internal/classify/llm.go
  tools/failure-agent/internal/classify/llm_test.go
  tools/failure-agent/internal/collect/collect.go
  tools/failure-agent/internal/collect/collect_test.go
  tools/failure-agent/internal/model/model.go
  tools/failure-agent/internal/report/report.go
  tools/failure-agent/internal/report/report_test.go
  tools/failure-agent/main.go
Due: .pipelines/trigger.yaml

ci: fix false-positive issue dedup in go-version-check
  .github/workflows/go-version-check.yaml
Due: none

add arg to match go mod version bump
  tools/azure-npm-to-cilium-validator/azure-npm-to-cilium-validator.go
Due: .pipelines/trigger.yaml

fix: [NPM] bound the NPM HTTP API and stop enabling its debug routes by default
  npm/azure-npm.yaml
  npm/deploy/kustomize/base/configmap.yaml
  npm/deploy/manifests/common/npm-configmap.yaml
  npm/deploy/manifests/controller/azure-npm.yaml
  npm/deploy/manifests/daemon/azure-npm.yaml
  npm/deploy/npm/azure-npm.yaml
  npm/http/server/server.go
  npm/http/server/server_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

chore: [NPM] address lint findings in the changed files
  npm/http/server/server_test.go
  npm/pkg/controlplane/controllers/v2/networkPolicyController.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

test: [NPM] cover every negation-only namespaceSelector operator and its rendered rule
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

ci: prevent the coding agent from working in a discarded worktree
  .github/copilot-instructions.md
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/copilot-setup-steps.yml
  agents.md
Due: .pipelines/trigger.yaml

fix: add arg to match go mod version bump (#4836)
  tools/azure-npm-to-cilium-validator/azure-npm-to-cilium-validator.go
Due: .pipelines/trigger.yaml

test: never masquerade IPv6 in the podsubnet manifests
  test/integration/manifests/cilium/v1.17/ebpf/podsubnet-dualstack/static/azure-dns-imds-ip-masq-agent-config.yaml
  test/integration/manifests/cilium/v1.18/ebpf/podsubnet-dualstack/static/azure-dns-imds-ip-masq-agent-config.yaml
  test/integration/manifests/cilium/v1.19/ebpf/podsubnet-dualstack/static/azure-dns-imds-ip-masq-agent-config.yaml
Due: .pipelines/trigger.yaml

increase timeout for pod startup
  test/network/wireserver_metadata_test.sh
Due: .pipelines/trigger.yaml

fix: [NPM] bound generated rules per policy and keep CIDR canonicalization on the Linux path
  npm/config/config.go
  npm/http/server/server.go
  npm/pkg/controlplane/controllers/v2/networkPolicyController.go
  npm/pkg/controlplane/translation/parseSelector_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/util/util.go
  npm/util/util_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] materialize ipsets in the kernel only when a policy references them
  npm/azure-npm.yaml
  npm/config/config.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

ci: isolate clusters by build ID
  .pipelines/pipeline.yaml
Due: .pipelines/trigger.yaml

ci: extend pipeline image override support
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/cilium-dualstack-ebpf/cilium-dualstack-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-ebpf/cilium-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-nodesubnet/cilium-nodesubnet-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-ebpf/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-job-template.yaml
  .pipelines/templates/network-install.yaml
  hack/aks/deploy.mk
  hack/scripts/parse_override_image.sh
  test/integration/manifests/cilium/v1.17/cilium-log-collector/daemonset-patch.yaml
  test/integration/manifests/cilium/v1.17/ebpf/dualstack/cilium.yaml
  test/integration/manifests/cilium/v1.17/ebpf/overlay/cilium.yaml
  test/integration/manifests/cilium/v1.17/ebpf/podsubnet/cilium.yaml
  test/integration/manifests/cilium/v1.18/cilium-log-collector/daemonset-patch.yaml
  test/integration/manifests/cilium/v1.18/ebpf/dualstack/cilium.yaml
  test/integration/manifests/cilium/v1.18/ebpf/overlay/cilium.yaml
  test/integration/manifests/cilium/v1.18/ebpf/podsubnet/cilium.yaml
  test/integration/manifests/cilium/v1.19/cilium-log-collector/daemonset-patch.yaml
  test/integration/manifests/cilium/v1.19/ebpf/dualstack/cilium.yaml
  test/integration/manifests/cilium/v1.19/ebpf/overlay/cilium.yaml
  test/integration/manifests/cilium/v1.19/ebpf/podsubnet/cilium.yaml
Due: .pipelines/trigger.yaml

ci: shorten unique cluster suffix
  .pipelines/pipeline.yaml
Due: .pipelines/trigger.yaml

ci: address image override review feedback
  .pipelines/singletenancy/cilium-dualstack-ebpf/cilium-dualstack-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-ebpf/cilium-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-nodesubnet/cilium-nodesubnet-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-ebpf/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-job-template.yaml
  .pipelines/templates/network-install.yaml
  azure-ip-masq-merger/Dockerfile
  azure-ipam/Dockerfile
  azure-iptables-monitor/Dockerfile
  cilium-log-collector/Dockerfile
  cni/Dockerfile
  cns/Dockerfile
  hack/scripts/parse_override_image.sh
  hack/scripts/parse_override_image_test.sh
Due: .pipelines/trigger.yaml

ci: address remaining image override feedback
  .pipelines/pipeline.yaml
  .pipelines/singletenancy/cilium-dualstack-ebpf/cilium-dualstack-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-ebpf/cilium-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-nodesubnet/cilium-nodesubnet-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-ebpf/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-job-template.yaml
  azure-ip-masq-merger/Dockerfile
  azure-ipam/Dockerfile
  azure-iptables-monitor/Dockerfile
  cilium-log-collector/Dockerfile
  cni/Dockerfile
  cns/Dockerfile
  hack/scripts/parse_override_image.sh
  hack/scripts/parse_override_image_test.sh
Due: .pipelines/trigger.yaml

chore: expand code owner coverage
  .github/CODEOWNERS
Due: none

Remove debug directory from CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: simplify code owner matchers
  .github/CODEOWNERS
Due: none

chore: use CNI reviewer team for utilities
  .github/CODEOWNERS
Due: none

fix: [NPM] keep the rule budget off the direct-rule path and make two tests meaningful
  npm/http/server/server.go
  npm/http/server/server_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

chore: expand code owner coverage (#4839)
  .github/CODEOWNERS
Due: none

[Backport release/v1.7] fix: key async delete watcher by container ID, not full path (#4820)
  cns/fsnotify/fsnotify.go
  cns/fsnotify/pendingdelete_key_test.go
Due: .pipelines/trigger.yaml

fix: remove dropgz from Windows azure-ipam image
  .pipelines/build/dockerfiles/azure-ipam.Dockerfile
  .pipelines/build/dockerfiles/azure-ipam.Dockerfile.tmpl
  .pipelines/run-pipeline.yaml
  azure-ipam/Dockerfile
  azure-ipam/Dockerfile.tmpl
Due: .pipelines/trigger.yaml

fix: [NPM] restore platform prefix and image revision in reported version
  .pipelines/build/ob-prepare.steps.yaml
  .pipelines/build/scripts/npm.sh
  .pipelines/run-pipeline.yaml
  Makefile
Due: .pipelines/trigger.yaml

Path conditions:
  .pipelines/npm/npm-conformance-tests.yaml: any of: npm, .pipelines/npm
  .pipelines/trigger.yaml: any file but: .devcontainer, .hooks, .vscode, .github, docs
