Repository Azure/azure-container-networking: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

.pipelines/npm/npm-conformance-tests.yaml:
  stages:
  - stage: setup
    displayName: Setup
    jobs:
    - job: setup
      displayName: Configure Test Environment
      pool:
        name: $(BUILD_POOL_NAME_DEFAULT)
        demands:
        - agent.os -equals Linux
        - Role -equals Build
      steps:
      - checkout: self
      - script: 'go version
  
  ...

.pipelines/trigger.yaml:
  extends:
    template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: $(BUILD_POOL_NAME_DEFAULT_WINDOWS)
          os: windows
        codeql:
          compiled:
            enabled: true
  ...

fix: migrate enable-ama to armmonitorworkspaces client
  go.mod
  go.sum
  test/e2e/framework/azure/enable-ama.go
Due: .pipelines/trigger.yaml

test: add Dalec Retina end-to-end validation
  .pipelines/networkobservability/retina-e2e.stages.yaml
  .pipelines/networkobservability/retina-image-post-renderer.sh
  .pipelines/pipeline.yaml
  .pipelines/templates/run-unit-tests.yaml
  hack/scripts/parse_override_image.sh
  hack/scripts/parse_override_image_test.sh
Due: .pipelines/trigger.yaml

fix: enforce unique CNS IP addresses (#4761)
  cns/restserver/internalapi.go
  cns/restserver/internalapi_test.go
  cns/restserver/ipam_test.go
  cns/restserver/util.go
  cns/restserver/util_test.go
Due: .pipelines/trigger.yaml

ci: prevent the coding agent from working in a discarded worktree (#4835)
  .github/copilot-instructions.md
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/copilot-setup-steps.yml
  agents.md
Due: .pipelines/trigger.yaml

chore: move master to v1.9 and shift release window to release/v1.8
  .github/workflows/go-version-check.yaml
  .github/workflows/scheduled-release.yaml
Due: none

chore: retarget acn-go-version-bump skill backport to release/v1.8
  .github/skills/acn-go-version-bump/SKILL.md
Due: none

chore: stop backport issue instructing go mod tidy
  .github/workflows/go-version-check.yaml
Due: none

ci: bump cilium image tags to v1.18.14-260923
  hack/aks/deploy.mk
Due: .pipelines/trigger.yaml

chore: move master to v1.9 and shift release window to release/v1.8 (#4862)
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/go-version-check.yaml
  .github/workflows/scheduled-release.yaml
Due: none

test: skip envtest CRD test on Windows
  crd/multitenancy/api/v1alpha1/podnetworkinstance_test.go
Due: .pipelines/trigger.yaml

ci: re-render Dockerfiles for updated MCR base image digests
  .pipelines/build/dockerfiles/azure-ip-masq-merger.Dockerfile
  .pipelines/build/dockerfiles/azure-ipam.Dockerfile
  .pipelines/build/dockerfiles/azure-iptables-monitor.Dockerfile
  .pipelines/build/dockerfiles/cni.Dockerfile
  .pipelines/build/dockerfiles/cns.Dockerfile
  azure-ip-masq-merger/Dockerfile
  azure-ipam/Dockerfile
  azure-iptables-monitor/Dockerfile
  cilium-log-collector/Dockerfile
  cni/Dockerfile
  cns/Dockerfile
Due: .pipelines/trigger.yaml

fix(cns): expose Linux metrics container port
  cns/azure-cns.yaml
  cns/doc/examples/metrics/README.md
Due: .pipelines/trigger.yaml

ci: support prebuilt NPM images in conformance tests (#4940)
  .pipelines/npm/npm-conformance-tests.yaml
  docs/npm.md
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

ci: install BPF build tools from the Azure Ubuntu mirror
  .pipelines/build/scripts/azure-iptables-monitor.sh
  .pipelines/build/scripts/ipv6-hp-bpf.sh
Due: .pipelines/trigger.yaml

fix: route release-channel notifications to their own threads
  .github/workflows/scheduled-release.yaml
Due: none

fix: stop Step 5 pipeline validation being silently skipped
  .github/workflows/scheduled-release.yaml
Due: none

fix: build BPF sources before govulncheck in release vuln gate
  .github/workflows/scheduled-release.yaml
Due: none

fix: derive BPF generate targets from module discovery
  .github/workflows/scheduled-release.yaml
Due: none

fix: make the release vulnerability scan advisory, never blocking
  .github/workflows/scheduled-release.yaml
Due: none

fix: stop the advisory vuln job hard-failing before it can report
  .github/workflows/scheduled-release.yaml
Due: none

fix: make CNS goal updates atomic
  cns/kubecontroller/nodenetworkconfig/reconciler.go
  cns/kubecontroller/nodenetworkconfig/reconciler_test.go
  cns/restserver/internalapi.go
  cns/restserver/util.go
  cns/restserver/util_test.go
Due: .pipelines/trigger.yaml

fix: report vuln scan status honestly and skip needless generate work
  .github/workflows/scheduled-release.yaml
Due: none

fix: tighten vuln scan counting, discovery and notification status
  .github/workflows/scheduled-release.yaml
Due: none

fix: base vuln notification status on result confidence, not findings
  .github/workflows/scheduled-release.yaml
Due: none

fix: don't record a clean bill of health when modules went unscanned
  .github/workflows/scheduled-release.yaml
Due: none

fix: make CNS goal updates atomic (#4762)
  cns/kubecontroller/nodenetworkconfig/reconciler.go
  cns/kubecontroller/nodenetworkconfig/reconciler_test.go
  cns/restserver/internalapi.go
  cns/restserver/util.go
  cns/restserver/util_test.go
Due: .pipelines/trigger.yaml

fix: make release vuln scan accurate and advisory, not blocking (#4954)
  .github/workflows/scheduled-release.yaml
Due: none

fix: publish dropgz executables atomically on Unix
  .github/workflows/unit-tests.yml
  dropgz/README.md
  dropgz/pkg/embed/payload.go
  dropgz/pkg/embed/payload_test.go
  dropgz/pkg/embed/publish_unix.go
  dropgz/pkg/embed/publish_unix_test.go
  dropgz/pkg/embed/publish_windows.go
  dropgz/pkg/embed/publish_windows_test.go
  dropgz/pkg/embed/write_unix_test.go
Due: .pipelines/trigger.yaml

fix: stage backups from open descriptors during concurrent publication
  dropgz/README.md
  dropgz/pkg/embed/payload.go
  dropgz/pkg/embed/publish_unix.go
Due: .pipelines/trigger.yaml

refactor: narrow dropgz publication fix to installer behavior
  dropgz/README.md
  dropgz/pkg/embed/payload.go
  dropgz/pkg/embed/payload_test.go
  dropgz/pkg/embed/publish_unix.go
  dropgz/pkg/embed/publish_windows.go
  dropgz/pkg/embed/write_unix_test.go
Due: .pipelines/trigger.yaml

ci: keep dropgz publication fix separate from pipeline changes
  .github/workflows/unit-tests.yml
Due: none

fix: preserve live dropgz files and skip matching payloads
  dropgz/pkg/embed/payload.go
  dropgz/pkg/embed/payload_test.go
  dropgz/pkg/embed/permissions_unix.go
  dropgz/pkg/embed/permissions_windows.go
  dropgz/pkg/embed/publish.go
  dropgz/pkg/embed/publish_unix_test.go
  dropgz/pkg/embed/publish_windows.go
  dropgz/pkg/embed/publish_windows_test.go
Due: .pipelines/trigger.yaml

refactor: consolidate dropgz payload matching
  dropgz/pkg/embed/payload.go
  dropgz/pkg/embed/payload_test.go
  dropgz/pkg/embed/publish_unix_test.go
Due: .pipelines/trigger.yaml

fix: preserve permissions when dropgz payloads match
  dropgz/pkg/embed/payload.go
  dropgz/pkg/embed/payload_test.go
  dropgz/pkg/embed/permissions_unix.go
  dropgz/pkg/embed/permissions_windows.go
  dropgz/pkg/embed/publish_unix_test.go
Due: .pipelines/trigger.yaml

fix: preserve file permissions when replacing dropgz payloads
  dropgz/pkg/embed/payload.go
  dropgz/pkg/embed/payload_test.go
  dropgz/pkg/embed/publish.go
  dropgz/pkg/embed/publish_unix_test.go
Due: .pipelines/trigger.yaml

ci: bump fluent-bit in templates and re-render Dockerfiles
  .pipelines/build/dockerfiles/cilium-log-collector.Dockerfile.tmpl
  azure-ip-masq-merger/Dockerfile
  azure-ipam/Dockerfile
  azure-iptables-monitor/Dockerfile
  cilium-log-collector/Dockerfile
  cilium-log-collector/Dockerfile.tmpl
  cni/Dockerfile
  cns/Dockerfile
Due: .pipelines/trigger.yaml

ci: refresh the install-go.sh fallback digest to match the build
  .pipelines/build/scripts/install-go.sh
Due: .pipelines/trigger.yaml

ci: sync the ipv6-hp-bpf digest helper comment with the bumped tag
  bpf-prog/ipv6-hp-bpf/linux.Dockerfile
Due: .pipelines/trigger.yaml

ci: defer the fluent-bit v5 upgrade to a separate change
  .pipelines/build/dockerfiles/cilium-log-collector.Dockerfile
  .pipelines/build/dockerfiles/cilium-log-collector.Dockerfile.tmpl
  cilium-log-collector/Dockerfile
  cilium-log-collector/Dockerfile.tmpl
Due: .pipelines/trigger.yaml

feat(cns): gate multitenancy HomeAZ publication (#4922)
  cns/configuration/configuration.go
  cns/configuration/configuration_test.go
  cns/configuration/testdata/good.json
  cns/service/main.go
Due: .pipelines/trigger.yaml

Path conditions:
  .pipelines/npm/npm-conformance-tests.yaml: any of: npm, .pipelines/npm
  .pipelines/trigger.yaml: any file but: .devcontainer, .hooks, .vscode, .github, docs
