Repository Azure/azure-container-networking: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

Path conditions:
  .pipelines/npm/npm-conformance-tests.yaml: any of: npm, .pipelines/npm
  .pipelines/trigger.yaml: any file but: .devcontainer, .hooks, .vscode, .github, docs

fix: [NPM] make policy-owned IPSet names unique per policy and namespace
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/dataplane_linux_test.go
  npm/pkg/dataplane/dataplane_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] reject distinct IPSets that resolve to the same kernel name
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

deps: keep Kubernetes modules on supported versions
  .github/workflows/govulncheck.yaml
  .pipelines/build/dockerfiles/azure-ip-masq-merger.Dockerfile
  .pipelines/build/dockerfiles/azure-ipam.Dockerfile
  .pipelines/build/dockerfiles/azure-iptables-monitor.Dockerfile
  .pipelines/build/dockerfiles/cni.Dockerfile
  .pipelines/build/dockerfiles/cns.Dockerfile
  azure-ip-masq-merger/Dockerfile
  azure-ipam/Dockerfile
  azure-ipam/go.mod
  azure-ipam/go.sum
  azure-iptables-monitor/Dockerfile
  azure-iptables-monitor/go.mod
  azure-iptables-monitor/go.sum
  cilium-log-collector/Dockerfile
  cni/Dockerfile
  cns/Dockerfile
  go.mod
  go.sum
  tools/azure-npm-to-cilium-validator/go.mod
  tools/azure-npm-to-cilium-validator/go.sum
  tools/failure-agent/go.mod
  tools/failure-agent/go.sum
Due: .pipelines/trigger.yaml

hack/aks: default LTS to true on release/v1.7 (#4561)
  hack/aks/Makefile
Due: .pipelines/trigger.yaml

fix: [NPM] patch Ubuntu CVEs in the v1.6.42 linux image
  npm/linux.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

chore: [NPM] bump libc pins to installable patch version
  npm/linux.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: scope NPM Lite direct CIDRs to Windows
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_linux.go
  npm/pkg/controlplane/translation/translatePolicy_linux_test.go
  npm/pkg/controlplane/translation/translatePolicy_windows.go
  npm/pkg/controlplane/translation/translatePolicy_windows_test.go
  npm/pkg/dataplane/policies/policy.go
  npm/pkg/dataplane/policies/policy_linux.go
  npm/pkg/dataplane/policies/policy_linux_test.go
  npm/pkg/dataplane/policies/policy_windows.go
  npm/pkg/dataplane/policies/policy_windows_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: narrow NPM Lite CIDR change
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_linux.go
  npm/pkg/controlplane/translation/translatePolicy_linux_test.go
  npm/pkg/controlplane/translation/translatePolicy_windows.go
  npm/pkg/controlplane/translation/translatePolicy_windows_test.go
  npm/pkg/dataplane/policies/policy.go
  npm/pkg/dataplane/policies/policy_linux.go
  npm/pkg/dataplane/policies/policy_linux_test.go
  npm/pkg/dataplane/policies/policy_windows.go
  npm/pkg/dataplane/policies/policy_windows_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: reject NPM Lite CIDR exceptions on Windows
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_windows_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

ci: restore LTS default to false in hack/aks Makefile
  hack/aks/Makefile
Due: .pipelines/trigger.yaml

fix: [NPM] give policy chains distinct names via a wider digest
  npm/pkg/dataplane/policies/policy_linux.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/util/util.go
  npm/util/util_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

test: address LRP pool-templating review comments
  test/integration/lrp/lrp_test.go
  test/integration/manifests/cilium/lrp/config-map.yaml
  test/integration/manifests/cilium/lrp/node-local-dns-ds.yaml
  test/integration/manifests/cilium/lrp/service-account.yaml
  test/integration/manifests/cilium/lrp/service.yaml
Due: .pipelines/trigger.yaml

fix: [NPM] fail closed if two policies resolve to the same chain
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_linux.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/pkg/dataplane/policies/policymanager_windows.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

test: scope validateCiliumLRP to the per-pool LRP name
  test/integration/lrp/lrp_test.go
Due: .pipelines/trigger.yaml

ci: bump default K8S_VER to 1.35 for hack/aks clusters
  hack/aks/Makefile
Due: .pipelines/trigger.yaml

hack/aks: add LTS=auto to auto-detect AKS Long Term Support
  hack/aks/Makefile
Due: .pipelines/trigger.yaml

fix: [NPM] use uniform base36 digits for the chain digest
  npm/util/util.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] roll back chain-name claims when the apply fails
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_linux.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/pkg/dataplane/policies/policymanager_windows.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

hack/aks: default LTS to auto
  hack/aks/Makefile
Due: .pipelines/trigger.yaml

hack/aks: clarify LTS mode comment for auto default
  hack/aks/Makefile
Due: .pipelines/trigger.yaml

hack/aks: extract LTS=auto detection into a script
  hack/aks/Makefile
  hack/scripts/aks-lts-args.sh
Due: .pipelines/trigger.yaml

hack/aks: inline LTS=auto detection with Make string functions
  hack/aks/Makefile
  hack/scripts/aks-lts-args.sh
Due: .pipelines/trigger.yaml

ci: use K8S_VER 1.31 with LTS for hack/aks clusters
  hack/aks/Makefile
Due: .pipelines/trigger.yaml

refactor: [NPM] commit chain ownership only after a successful apply
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_linux.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/pkg/dataplane/policies/policymanager_windows.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] patch Ubuntu CVEs in the v1.6.42 linux image (#4588)
  hack/aks/Makefile
  npm/linux.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] make policy-owned IPSet names unique per policy and namespace (#4574)
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/dataplane_linux_test.go
  npm/pkg/dataplane/dataplane_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

ci: fix go-version-check stale branch push rejection
  .github/workflows/go-version-check.yaml
Due: none

fix: [NPM] give policy chains distinct names via a wider digest (#4593)
  npm/pkg/dataplane/policies/policy_linux.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_linux.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/util/util.go
  npm/util/util_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

derive nic resourceslice from mtpnc only when it is dedicated
  cns/middlewares/k8sSwiftV2.go
  cns/middlewares/k8sSwiftV2_test.go
  cns/restserver/nicresources_test.go
Due: .pipelines/trigger.yaml

fix: [NPM] give IPSets distinct kernel names via a wide digest
  npm/ipsm/ipsm_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager_test.go
  npm/util/util.go
  npm/util/util_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

test: [NPM] verify two same-typed sets render distinct kernel sets
  npm/pkg/dataplane/ipsets/ipsetmanager_linux_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] pad hashed ipset name to a fixed width
  npm/util/util.go
  npm/util/util_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

ci: add FAA draft PR workflow
  .github/workflows/faa-draft-pr.yaml
Due: none

renaming functions and apis
  cns/NetworkContainerContract.go
  cns/api.go
  cns/middlewares/k8sSwiftV2.go
  cns/middlewares/k8sSwiftV2_test.go
  cns/restserver/nicresources.go
  cns/restserver/nicresources_test.go
  cns/restserver/requestclaimresourceinfo.go
  cns/restserver/requestclaimresourceinfo_test.go
  cns/restserver/restserver.go
  cns/service/main.go
Due: .pipelines/trigger.yaml

ci(pipeline): shift FAA schedule off midnight janitor window
  .pipelines/pipeline.yaml
Due: .pipelines/trigger.yaml

ci: pin container images as image:tag@sha for Dependabot
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/cilium-versions.yaml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/go-version-check.yaml
  .pipelines/build/dockerfiles/azure-ip-masq-merger.Dockerfile
  .pipelines/build/dockerfiles/azure-ipam.Dockerfile
  .pipelines/build/dockerfiles/azure-iptables-monitor.Dockerfile
  .pipelines/build/dockerfiles/cni.Dockerfile
  .pipelines/build/dockerfiles/cns.Dockerfile
  .pipelines/build/dockerfiles/npm.Dockerfile
  .pipelines/build/scripts/install-go.sh
  azure-ip-masq-merger/Dockerfile
  azure-ipam/Dockerfile
  azure-iptables-monitor/Dockerfile
  bpf-prog/ipv6-hp-bpf/linux.Dockerfile
  build/images.mk
  cilium-log-collector/Dockerfile
  cni/Dockerfile
  cns/Dockerfile
  hack/scripts/parse_override_image.sh
  npm/windows.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: resolve secondary VF to netvsc master before netns move
  network/endpoint_test.go
  network/resolve_master_interface_linux_test.go
  network/resolve_master_interface_windows_test.go
  network/secondary_endpoint_client_linux.go
  network/secondary_endpoint_linux_test.go
Due: .pipelines/trigger.yaml
