Repository Azure/azure-container-networking: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

.pipelines/npm/npm-conformance-tests.yaml:
  stages:
  - stage: setup
    displayName: Setup
    jobs:
    - job: setup
      displayName: Configure Test Environment
      pool:
        name: $(BUILD_POOL_NAME_DEFAULT)
        demands:
        - agent.os -equals Linux
        - Role -equals Build
      steps:
      - checkout: self
      - script: 'go version
  
  ...

.pipelines/trigger.yaml:
  extends:
    template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: $(BUILD_POOL_NAME_DEFAULT_WINDOWS)
          os: windows
        codeql:
          compiled:
            enabled: true
  ...

test fix
  cni/network/network_windows_test.go
Due: .pipelines/trigger.yaml

fix: repair the three failures keeping Test Windows red
  .github/workflows/unit-tests.yml
  cni/network/network_windows_test.go
  cns/networkcontainers/networkcontainers_windows.go
Due: .pipelines/trigger.yaml

feat(ci): publish the weekly FAA trends output as a build artifact
  .pipelines/failure-agent-teams-bot/weekly-trends-pipeline.yml
Due: .pipelines/trigger.yaml

revert test change
  cni/network/network_windows_test.go
Due: .pipelines/trigger.yaml

ci: add dependabot stale version bumps catch-all
  .github/dependabot.yaml
Due: none

lint fixes
  cns/restserver/api_test.go
  cns/restserver/util_test.go
  cns/wireserver/proxy_test.go
Due: .pipelines/trigger.yaml

deps: fix govulncheck failures on release/v1.7 (#4694)
  azure-ipam/go.mod
  azure-ipam/go.sum
  azure-iptables-monitor/go.mod
  azure-iptables-monitor/go.sum
  go.mod
  go.sum
  tools/azure-npm-to-cilium-validator/azure-npm-to-cilium-validator.go
  tools/azure-npm-to-cilium-validator/go.mod
  tools/azure-npm-to-cilium-validator/go.sum
Due: .pipelines/trigger.yaml

refactor(failure-agent): extract FAA prompts into embedded playbooks
  .gitattributes
  tools/failure-agent/internal/classify/investigation-playbook.md
  tools/failure-agent/internal/classify/llm.go
  tools/failure-agent/internal/weekly/synthesize.go
  tools/failure-agent/internal/weekly/weekly-trends-playbook.md
Due: .pipelines/trigger.yaml

lint fixes
  cns/restserver/api_test.go
Due: .pipelines/trigger.yaml

fix(faa): pin azure/login to v3.0.1 and validate fix.md fingerprint
  .github/scripts/faa-open-draft-prs.sh
  .github/workflows/faa-draft-pr.yaml
Due: none

ci: run govulncheck nightly
  .github/workflows/govulncheck.yaml
Due: none

feat: make NICNetworkConfig cluster-scoped
  crd/multitenancy/api/v1alpha1/nicnetworkconfig.go
  crd/multitenancy/manifests/multitenancy.acn.azure.com_nicnetworkconfigs.yaml
Due: .pipelines/trigger.yaml

fix: serialize managed CNS IPAM and endpoint state
  cns/restserver/ipam.go
  cns/restserver/ipam_test.go
Due: .pipelines/trigger.yaml

fix: keep JSON store cache unchanged after failed writes
  store/json.go
  store/json_test.go
Due: .pipelines/trigger.yaml

fix: make CNS endpoint-state writes atomic
  cns/restserver/endpoint_state.go
  cns/restserver/ipam.go
  cns/restserver/ipam_test.go
  cns/restserver/restserver.go
  cns/restserver/util.go
  cns/restserver/util_test.go
Due: .pipelines/trigger.yaml

fix: reject late CNS ADDs with durable delete intents
  cns/restserver/const.go
  cns/restserver/endpoint_delete_intent.go
  cns/restserver/ipam.go
  cns/restserver/ipam_test.go
  cns/restserver/restserver.go
  cns/restserver/util.go
  cns/restserver/util_test.go
Due: .pipelines/trigger.yaml

deps: bump safe dependencies on release/v1.7
  .github/workflows/govulncheck.yaml
  go.mod
  go.sum
Due: .pipelines/trigger.yaml

fix: [NPM] bump Go to 1.26.5 (stdlib CVEs) and refresh stale libsystemd0 pin
  .pipelines/build/dockerfiles/npm.Dockerfile
  npm/linux.Dockerfile
  npm/windows.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] pin Ubuntu CVE package versions in the signed npm image
  .pipelines/build/dockerfiles/npm.Dockerfile
Due: .pipelines/trigger.yaml

docs: [NPM] note why Ubuntu packages are pinned on the signed image
  .pipelines/build/dockerfiles/npm.Dockerfile
Due: .pipelines/trigger.yaml

fix: [NPM] pin Ubuntu CVE package versions in the unsigned npm image too
  npm/linux.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] refresh Windows CVE build inputs
  .pipelines/build/dockerfiles/npm.Dockerfile
  npm/dockerfile_test.go
  npm/windows.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

chore: refresh generated Dockerfile pins
  .pipelines/build/dockerfiles/azure-ip-masq-merger.Dockerfile
  .pipelines/build/dockerfiles/azure-ipam.Dockerfile
  .pipelines/build/dockerfiles/azure-iptables-monitor.Dockerfile
  .pipelines/build/dockerfiles/cni.Dockerfile
  .pipelines/build/dockerfiles/cns.Dockerfile
  azure-ip-masq-merger/Dockerfile
  azure-ipam/Dockerfile
  azure-iptables-monitor/Dockerfile
  cilium-log-collector/Dockerfile
  cni/Dockerfile
  cns/Dockerfile
Due: .pipelines/trigger.yaml

fix: [NPM] pin Linux CVE toolchain
  npm/dockerfile_test.go
  npm/linux.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

policy: make the identity guard install-location independent
  .github/hooks/deny-public-github-mutations.py
  .github/hooks/install-user-hook.sh
Due: none

fix: [NPM] bump CVE toolchain to Go 1.26.6
  npm/dockerfile_test.go
  npm/linux.Dockerfile
  npm/windows.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

ci: fix overlapping Dependabot Go directories
  .github/dependabot.yaml
Due: none

fix: handle shared DRA NICs in CNI results
  cni/network/invoker_cns.go
  cni/network/invoker_cns_test.go
Due: .pipelines/trigger.yaml

test: combined init for v1.19 cilium daemonsets
  test/integration/manifests/cilium/v1.19/cilium-agent/templates/daemonset-dualstack.yaml
  test/integration/manifests/cilium/v1.19/cilium-agent/templates/daemonset.yaml
  test/integration/manifests/cilium/v1.19/ebpf/dualstack/cilium.yaml
  test/integration/manifests/cilium/v1.19/ebpf/overlay/cilium.yaml
  test/integration/manifests/cilium/v1.19/ebpf/podsubnet/cilium.yaml
Due: .pipelines/trigger.yaml

fix: mount systemd host paths in cilium-init-all
  test/integration/manifests/cilium/v1.19/cilium-agent/templates/daemonset-dualstack.yaml
  test/integration/manifests/cilium/v1.19/cilium-agent/templates/daemonset.yaml
  test/integration/manifests/cilium/v1.19/ebpf/dualstack/cilium.yaml
  test/integration/manifests/cilium/v1.19/ebpf/overlay/cilium.yaml
  test/integration/manifests/cilium/v1.19/ebpf/podsubnet/cilium.yaml
Due: .pipelines/trigger.yaml

fix: support externally managed default routes
  cni/network/invoker_cns.go
  cni/network/invoker_cns_test.go
  cns/NetworkContainerContract.go
  cns/NetworkContainerContract_test.go
  cns/middlewares/k8sSwiftV2.go
  cns/middlewares/k8sSwiftV2_linux.go
  cns/middlewares/k8sSwiftV2_linux_test.go
  cns/middlewares/k8sSwiftV2_windows.go
  cns/middlewares/k8sSwiftV2_windows_test.go
  cns/middlewares/mock/mockClient.go
Due: .pipelines/trigger.yaml

fix(faa): capture the change under test for analysis
  .pipelines/templates/failure-analysis.job.yaml
  tools/failure-agent/internal/classify/llm.go
  tools/failure-agent/internal/collect/collect.go
  tools/failure-agent/internal/collect/collect_test.go
  tools/failure-agent/internal/model/model.go
  tools/failure-agent/main.go
Due: .pipelines/trigger.yaml

fix(faa): collect E2E task logs and the pod IP table as evidence
  .pipelines/templates/log-template.yaml
  tools/failure-agent/internal/classify/llm.go
  tools/failure-agent/internal/classify/llm_test.go
  tools/failure-agent/internal/collect/collect.go
  tools/failure-agent/internal/collect/collect_test.go
Due: .pipelines/trigger.yaml

fix(faa): scope the cross-stage uniformity rule to shared environments
  tools/failure-agent/internal/classify/investigation-playbook.md
Due: .pipelines/trigger.yaml

fix(cns): reclaim assigned IPs when the pool is exhausted
  cns/restserver/ipam.go
Due: .pipelines/trigger.yaml

fix(cns): stop reassigning still-Assigned IPs on pool exhaustion
  cns/restserver/ipam.go
Due: .pipelines/trigger.yaml

fix(faa): truncate answer text to notifier bot's 2000-char limit
  .pipelines/failure-agent-teams-bot/scripts/notify-answer.sh
Due: .pipelines/trigger.yaml

feat(npm): allow egress to node IP on ports from l1vh annotation
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/policies/policy.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/pkg/dataplane/policies/policymanager_windows_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix(faa): surface root cause source file, line, and snippet in the report
  tools/failure-agent/internal/classify/investigation-playbook.md
  tools/failure-agent/internal/classify/llm.go
  tools/failure-agent/internal/classify/llm_test.go
  tools/failure-agent/internal/model/model.go
  tools/failure-agent/internal/report/report.go
  tools/failure-agent/internal/report/report_test.go
Due: .pipelines/trigger.yaml

Path conditions:
  .pipelines/npm/npm-conformance-tests.yaml: any of: npm, .pipelines/npm
  .pipelines/trigger.yaml: any file but: .devcontainer, .hooks, .vscode, .github, docs
