Repository Azure/azure-container-networking: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

Path conditions:
  .pipelines/npm/npm-conformance-tests.yaml: any of: npm, .pipelines/npm
  .pipelines/trigger.yaml: any file but: .devcontainer, .hooks, .vscode, .github, docs

fix: recreate missing HNS network during endpoint add
  network/endpoint_windows.go
  network/network.go
  network/network_linux.go
  network/network_windows.go
  network/network_windows_test.go
Due: .pipelines/trigger.yaml

fix: address Copilot review comments
  .github/copilot-instructions.md
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/go-version-check.yaml
Due: none

fix: address second round of Copilot review
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/go-version-check.yaml
Due: none

fix: address third round of Copilot review
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/go-version-check.yaml
  build/images.mk
Due: .pipelines/trigger.yaml

fix: address fourth round of Copilot review
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/go-version-check.yaml
Due: none

fix: address fifth round of Copilot review
  .github/workflows/go-version-check.yaml
Due: none

ci: ignore status of azuresecuritylinuxagent during testing (#4320)
  test/integration/datapath/datapath_linux_test.go
  test/integration/datapath/datapath_windows_test.go
  test/integration/load/load_test.go
  test/integration/swiftv2/swiftv2_test.go
  test/internal/kubernetes/utils.go
  test/validate/linux_validate.go
Due: .pipelines/trigger.yaml

ci: add retry to validate pods and ignore "completed" pods (#4379)
  .pipelines/templates/cilium-tests.yaml
  test/internal/kubernetes/utils_get.go
Due: .pipelines/trigger.yaml

fix: npm Dockerfile sed uses full patch version, relax patch gate
  .github/copilot-instructions.md
  .github/workflows/go-version-check.yaml
Due: none

fix: escape dots in GO_MINOR for sed regex patterns
  .github/workflows/go-version-check.yaml
Due: none

fix: clean pre-installed Go before msft-go extraction (#4405)
  .pipelines/build/scripts/install-go.sh
Due: .pipelines/trigger.yaml

Add non-persistent HNS network support for ACI (#4355)
  network/network_windows.go
Due: .pipelines/trigger.yaml

fix: pipefail in doc fetch, PATH precedence for Go, cached docs in issue
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/go-version-check.yaml
Due: none

fix: prevent cached artifacts from being committed, ensure label exists
  .github/image-digests/.gitignore
  .github/ms-go-docs/.gitignore
  .github/workflows/go-version-check.yaml
Due: none

fix: bump apt package pins in npm/linux.Dockerfile to fix Image Build
  npm/linux.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

Address review comments
  crd/multitenancy/api/v1alpha1/multitenantpodnetworkconfig.go
  crd/multitenancy/api/v1alpha1/utils.go
  crd/multitenancy/api/v1alpha1/utils_test.go
Due: .pipelines/trigger.yaml

regenerate files
  crd/multitenancy/api/v1alpha1/zz_generated.deepcopy.go
  crd/multitenancy/manifests/multitenancy.acn.azure.com_multitenantpodnetworkconfigs.yaml
Due: .pipelines/trigger.yaml

backport: ci: ignore status of azuresecuritylinuxagent and ignore completed pods in test (#4464)
  .pipelines/templates/cilium-tests.yaml
  npm/linux.Dockerfile
  test/integration/datapath/datapath_linux_test.go
  test/integration/datapath/datapath_windows_test.go
  test/integration/load/load_test.go
  test/integration/swiftv2/swiftv2_test.go
  test/internal/kubernetes/utils.go
  test/internal/kubernetes/utils_get.go
  test/validate/linux_validate.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

[NPM] Update NPM Windows Unit Tests for Go 1.24 (#4438)
  network/endpoint_windows.go
  network/hnswrapper/hnsv2wrapperwithtimeout.go
  npm/pkg/dataplane/ipsets/ipsetmanager_windows.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: re-resolve digests at point of use to prevent race conditions
  .github/workflows/go-version-check.yaml
Due: none

ci: add patch-kubeclusterconfig before Windows node restart in Official pipeline
  .pipelines/singletenancy/azure-cni-overlay-stateless/azure-cni-overlay-stateless-e2e.steps.yaml
  .pipelines/singletenancy/azure-cni-overlay/azure-cni-overlay-e2e.steps.yaml
Due: .pipelines/trigger.yaml

fix: ensure Agent-Generated label exists before issue creation
  .github/workflows/go-version-check.yaml
Due: none

fix: address PR review comments
  cni/network/invoker_cns.go
  cni/network/invoker_cns_test.go
Due: .pipelines/trigger.yaml

fix: resolve linter errors in test code
  cni/network/invoker_cns_test.go
  cni/network/multitenancy_test.go
Due: .pipelines/trigger.yaml

backport: ci: ignore status of azuresecuritylinuxagent and ignore completed pods in test (#4467)
  .pipelines/templates/cilium-tests.yaml
  test/integration/datapath/datapath_linux_test.go
  test/integration/datapath/datapath_windows_test.go
  test/integration/load/load_test.go
  test/integration/swiftv2/swiftv2_test.go
  test/internal/kubernetes/utils.go
  test/internal/kubernetes/utils_get.go
  test/validate/linux_validate.go
Due: .pipelines/trigger.yaml

add deterministic evidence analysis core
  tools/failure-agent/go.mod
  tools/failure-agent/go.sum
  tools/failure-agent/internal/classify/deterministic.go
  tools/failure-agent/internal/classify/deterministic_test.go
  tools/failure-agent/internal/collect/collect.go
  tools/failure-agent/internal/collect/collect_test.go
  tools/failure-agent/internal/fingerprint/fingerprint.go
  tools/failure-agent/internal/fingerprint/fingerprint_test.go
  tools/failure-agent/internal/model/model.go
  tools/failure-agent/internal/policy/policy.go
  tools/failure-agent/internal/policy/policy_test.go
  tools/failure-agent/internal/signatures/signatures.go
  tools/failure-agent/internal/signatures/signatures_test.go
  tools/failure-agent/signatures/signatures.yaml
  tools/failure-agent/testdata/bundle/nodes.txt
  tools/failure-agent/testdata/bundle/pods.txt
Due: .pipelines/trigger.yaml

add incident report rendering and output artifacts
  tools/failure-agent/internal/report/report.go
  tools/failure-agent/internal/report/report_test.go
Due: .pipelines/trigger.yaml

add Azure OpenAI classifier with schema validation
  tools/failure-agent/internal/classify/aoai.go
  tools/failure-agent/internal/classify/llm.go
  tools/failure-agent/internal/classify/llm_test.go
Due: .pipelines/trigger.yaml

add GitHub PR upsert and CLI orchestration
  tools/failure-agent/internal/publish/github.go
  tools/failure-agent/internal/publish/publish.go
  tools/failure-agent/internal/publish/publish_test.go
  tools/failure-agent/main.go
  tools/failure-agent/pipeline_test.go
Due: .pipelines/trigger.yaml

add failure-analysis job template and wire into e2e templates
  .pipelines/cni/cilium/cilium-overlay-load-test-template.yaml
  .pipelines/cni/lsg/lsg-cni-integration-template.yaml
  .pipelines/cni/singletenancy/cniv1-template.yaml
  .pipelines/cni/singletenancy/cniv2-template.yaml
  .pipelines/singletenancy/aks-swift/e2e-job-template.yaml
  .pipelines/singletenancy/aks-swift/e2e.stages.yaml
  .pipelines/singletenancy/aks/e2e-job-template.yaml
  .pipelines/singletenancy/aks/e2e.stages.yaml
  .pipelines/singletenancy/azure-cni-overlay-stateless/azure-cni-overlay-stateless-e2e-job-template.yaml
  .pipelines/singletenancy/azure-cni-overlay-stateless/azure-cni-overlay-stateless-e2e.stages.yaml
  .pipelines/singletenancy/azure-cni-overlay/azure-cni-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/azure-cni-overlay/azure-cni-overlay-e2e.stages.yaml
  .pipelines/singletenancy/cilium-dualstack-ebpf/cilium-dualstack-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e.stages.yaml
  .pipelines/singletenancy/cilium-ebpf/cilium-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-nodesubnet/cilium-nodesubnet-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-nodesubnet/cilium-nodesubnet-e2e.stages.yaml
  .pipelines/singletenancy/cilium-overlay-ebpf/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e.stages.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e.stages.yaml
  .pipelines/singletenancy/cilium/cilium-e2e.stages.yaml
  .pipelines/singletenancy/dualstack-overlay/dualstackoverlay-e2e-job-template.yaml
  .pipelines/singletenancy/dualstack-overlay/dualstackoverlay-e2e.stages.yaml
  .pipelines/templates/failure-analysis.job.yaml
Due: .pipelines/trigger.yaml

added proposedFix field
  tools/failure-agent/internal/classify/llm.go
  tools/failure-agent/internal/classify/llm_test.go
  tools/failure-agent/internal/model/model.go
  tools/failure-agent/internal/report/report.go
Due: .pipelines/trigger.yaml

fix: inline hcn network error messages and remove unused sentinel errors
  network/network_windows.go
Due: .pipelines/trigger.yaml

feat: enhance dependabot gate with tracking issue, pause/skip commands, Go upgrade PR detection, and managed DALEC integration
  .github/workflows/scheduled-release.yaml
Due: none

fix: address Copilot review comments
  .github/workflows/scheduled-release.yaml
Due: none

security: pin actions to SHA, scope permissions per-job, harden govulncheck
  .github/workflows/scheduled-release.yaml
Due: none
