Repository Azure/azure-container-networking: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

.pipelines/npm/npm-conformance-tests.yaml:
  stages:
  - stage: setup
    displayName: Setup
    jobs:
    - job: setup
      displayName: Configure Test Environment
      pool:
        name: $(BUILD_POOL_NAME_DEFAULT)
        demands:
        - agent.os -equals Linux
        - Role -equals Build
      steps:
      - checkout: self
      - script: 'go version
  
  ...

.pipelines/trigger.yaml:
  extends:
    template: v1/1ES.Unofficial.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: $(BUILD_POOL_NAME_DEFAULT_WINDOWS)
          os: windows
        codeql:
          compiled:
            enabled: true
  ...

initial put/delete NC and subnet join related changes for RNC via NMA
  cns/NetworkContainerContract.go
  cns/fakes/wireserverproxyfake.go
  cns/restserver/api.go
  cns/restserver/const.go
  cns/restserver/restserver.go
  cns/restserver/util.go
  cns/types/codes.go
  cns/wireserver/proxy.go
  nmagent/requests.go
Due: .pipelines/trigger.yaml

moderate changes and test coverage
  cns/restserver/api.go
  cns/restserver/api_test.go
  cns/restserver/const.go
  cns/restserver/restserver.go
  cns/restserver/util.go
  cns/restserver/util_test.go
  cns/wireserver/proxy.go
  cns/wireserver/proxy_test.go
Due: .pipelines/trigger.yaml

fix minor issues
  cns/restserver/api.go
  cns/restserver/api_test.go
  cns/restserver/restserver.go
Due: .pipelines/trigger.yaml

lint fixes
  cns/restserver/api_test.go
  cns/restserver/util_test.go
  cns/wireserver/proxy_test.go
Due: .pipelines/trigger.yaml

lint fixes
  cns/restserver/api_test.go
Due: .pipelines/trigger.yaml

[release/v1.7] fix: prevent silent Linux binary build failures in all-binaries-platforms (#4879)
  .pipelines/pipeline.yaml
  Makefile
Due: .pipelines/trigger.yaml

minor change to keep using nmagent.DeleteContainerRequest for unmarshalling unpublish NC request in CNS
  cns/restserver/api.go
Due: .pipelines/trigger.yaml

fix: [NPM] canonicalize ipBlock CIDRs and surface translation failures (#4867)
  npm/pkg/controlplane/controllers/v2/networkPolicyController.go
  npm/pkg/controlplane/controllers/v2/networkPolicyController_test.go
  npm/pkg/controlplane/translation/cidr_except_test.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/util/util.go
  npm/util/util_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

address comments
  nmagent/requests.go
Due: .pipelines/trigger.yaml

address copilot comment
  cns/restserver/api.go
  cns/restserver/api_test.go
Due: .pipelines/trigger.yaml

fix: [NPM] scope negation-only namespaceSelector matches to cluster namespaces (#4868)
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

ci: pass images to e2e stages
  .pipelines/singletenancy/azure-cni-overlay-stateless/azure-cni-overlay-stateless-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-dualstack-ebpf/cilium-dualstack-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-ebpf/cilium-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-nodesubnet/cilium-nodesubnet-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-ebpf/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-job-template.yaml
Due: .pipelines/trigger.yaml

ci: run govulncheck nightly (#4704)
  .github/workflows/govulncheck.yaml
Due: none

fix: add missing env vars for binary tag release channel notification (#4765)
  .github/workflows/create-release-tag.yml
Due: none

fix(cns): gate readiness on conflist publication
  cns/restserver/restserver.go
  cns/restserver/restserver_test.go
  cns/service/main.go
  cns/service/readiness_test.go
Due: .pipelines/trigger.yaml

ci: fix false-positive issue dedup in go-version-check (#4834)
  .github/workflows/go-version-check.yaml
Due: none

test: wait for Linux datapath pods to be deleted (#4863)
  .pipelines/build/dockerfiles/azure-ip-masq-merger.Dockerfile
  .pipelines/build/dockerfiles/azure-ipam.Dockerfile
  .pipelines/build/dockerfiles/azure-iptables-monitor.Dockerfile
  .pipelines/build/dockerfiles/cni.Dockerfile
  .pipelines/build/dockerfiles/cns.Dockerfile
  azure-ip-masq-merger/Dockerfile
  azure-ipam/Dockerfile
  azure-iptables-monitor/Dockerfile
  cilium-log-collector/Dockerfile
  cni/Dockerfile
  cns/Dockerfile
  hack/aks/deploy.mk
  test/integration/datapath/datapath_linux_test.go
Due: .pipelines/trigger.yaml

[release/v1.8] fix: prevent silent Linux binary build failures in all-binaries-platforms (#4878)
  .pipelines/pipeline.yaml
  Makefile
Due: .pipelines/trigger.yaml

fix(ci): harden CNI load test recovery (#4764)
  .pipelines/cni/load-test-templates/restart-node-template.yaml
  .pipelines/cni/load-test-templates/restart-nodes.sh
  .pipelines/cni/load-test-templates/restart-nodes_test.sh
  .pipelines/cni/pipeline.yaml
  .pipelines/npm/npm-cni-integration-test.yaml
  .pipelines/templates/log-template.yaml
  test/validate/validate.go
  test/validate/validate_retry_test.go
  test/validate/windows_validate.go
  test/validate/windows_validate_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

style(cns): keep readiness function signature on one line
  cns/service/main.go
Due: .pipelines/trigger.yaml

fix(failure-agent): close secret redaction boundaries
  tools/failure-agent/internal/redact/redact.go
  tools/failure-agent/internal/redact/redact_test.go
  tools/failure-agent/main.go
  tools/failure-agent/pipeline_test.go
Due: .pipelines/trigger.yaml

ci: address review feedback on worktree guard
  .github/copilot-instructions.md
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/copilot-setup-steps.yml
  agents.md
Due: .pipelines/trigger.yaml

fix(cns): copy endpoint IP and mask bytes independently
  cns/restserver/endpoint_state.go
  cns/restserver/endpoint_state_test.go
Due: .pipelines/trigger.yaml

fix: preserve CNS IPAM transaction state
  cns/middlewares/k8sSwiftV2_linux.go
  cns/middlewares/k8sSwiftV2_linux_test.go
  cns/middlewares/k8sSwiftV2_windows.go
  cns/middlewares/k8sSwiftV2_windows_test.go
  cns/restserver/client_transaction_test.go
  cns/restserver/ipam.go
  cns/restserver/ipam_test.go
Due: .pipelines/trigger.yaml

fix: compensate later Windows MTPNC failures
  cns/middlewares/k8sSwiftV2_windows.go
  cns/middlewares/k8sSwiftV2_windows_test.go
Due: .pipelines/trigger.yaml

ci: close worktree guard bypass and resolve base ref dynamically
  .github/copilot-instructions.md
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/copilot-setup-steps.yml
Due: none

Fix benchmark IPv6 fixture in endpoint state benchmark
  cns/restserver/endpoint_state_test.go
Due: .pipelines/trigger.yaml

ci: scope the worktree guard claim to the workspace repo
  .github/workflows/copilot-setup-steps.yml
Due: none

fix(cns): restore endpoint state without main store
  cns/restserver/endpoint_state_test.go
  cns/restserver/ipam_test.go
  cns/restserver/util.go
  cns/restserver/util_test.go
Due: .pipelines/trigger.yaml

restore IPAM compatibility wrappers
  cns/restserver/ipam.go
Due: .pipelines/trigger.yaml

fix: serialize endpoint state writes
  cns/restserver/ipam.go
  cns/restserver/ipam_test.go
  cns/restserver/ipam_windows.go
Due: .pipelines/trigger.yaml

Fix endpoint handler lock ownership
  cns/restserver/ipam.go
  cns/restserver/ipam_test.go
Due: .pipelines/trigger.yaml

ci: describe the worktree guard as a guardrail, not enforcement
  .github/workflows/copilot-setup-steps.yml
Due: none

fix(cns): validate NNC state before startup mutation
  cns/kubecontroller/nodenetworkconfig/reconciler.go
  cns/kubecontroller/nodenetworkconfig/reconciler_test.go
  cns/restserver/internalapi.go
  cns/restserver/internalapi_test.go
  cns/restserver/util.go
  cns/restserver/util_test.go
Due: .pipelines/trigger.yaml

fix(cns): preserve restart replay compatibility
  cns/kubecontroller/nodenetworkconfig/reconciler.go
  cns/kubecontroller/nodenetworkconfig/reconciler_test.go
  cns/restserver/util.go
  cns/restserver/util_test.go
Due: .pipelines/trigger.yaml

fix(cns): validate initial NC versions atomically
  cns/restserver/internalapi.go
  cns/restserver/internalapi_test.go
  cns/restserver/util.go
  cns/restserver/util_test.go
Due: .pipelines/trigger.yaml

fix(cns): narrow NNC replay validation scope
  cns/kubecontroller/nodenetworkconfig/reconciler.go
  cns/kubecontroller/nodenetworkconfig/reconciler_test.go
  cns/restserver/util.go
  cns/restserver/util_test.go
Due: .pipelines/trigger.yaml

fix(cns): clear stale NNC IPs not in use
  cns/ipampool/v2/monitor.go
  cns/ipampool/v2/monitor_test.go
Due: .pipelines/trigger.yaml

ci: pass images to e2e stages (#4885)
  .pipelines/singletenancy/azure-cni-overlay-stateless/azure-cni-overlay-stateless-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-dualstack-ebpf/cilium-dualstack-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-dualstack-overlay/cilium-dualstackoverlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-ebpf/cilium-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-nodesubnet/cilium-nodesubnet-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-ebpf/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay-withhubble/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium-overlay/cilium-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/cilium/cilium-e2e-job-template.yaml
Due: .pipelines/trigger.yaml

fix: make CNS endpoint-state writes atomic (#4697)
  cns/restserver/endpoint_state.go
  cns/restserver/endpoint_state_test.go
  cns/restserver/ipam.go
  cns/restserver/ipam_test.go
  cns/restserver/ipam_windows.go
  cns/restserver/restserver.go
  cns/restserver/util.go
  cns/restserver/util_test.go
Due: .pipelines/trigger.yaml

Path conditions:
  .pipelines/npm/npm-conformance-tests.yaml: any of: npm, .pipelines/npm
  .pipelines/trigger.yaml: any file but: .devcontainer, .hooks, .vscode, .github, docs
