Repository Azure/azure-container-networking: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

Path conditions:
  .pipelines/npm/npm-conformance-tests.yaml: any of: npm, .pipelines/npm
  .pipelines/trigger.yaml: any file but: .devcontainer, .hooks, .vscode, .github, docs

fix: normalize Go version label, preserve floating GO_IMG tag
  .github/workflows/go-version-check.yaml
Due: none

fix: correct set-GO_IMG sed regex, add setup-go to check job
  .github/workflows/go-version-check.yaml
  build/images.mk
Due: .pipelines/trigger.yaml

fix: address review — patch comparison, renderkit parsing, labels, PR bodies
  .github/copilot-instructions.md
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/go-version-check.yaml
  build/images.mk
Due: .pipelines/trigger.yaml

fix: use version-neutral placeholder in set-GO_IMG usage text
  build/images.mk
Due: .pipelines/trigger.yaml

ci: enable dependabot docker base image updates
  .github/dependabot.yaml
  .pipelines/build/dockerfiles/azure-ipam.Dockerfile
  .pipelines/build/dockerfiles/azure-ipam.Dockerfile.tmpl
  .pipelines/build/dockerfiles/azure-iptables-monitor.Dockerfile
  .pipelines/build/dockerfiles/azure-iptables-monitor.Dockerfile.tmpl
  .pipelines/build/dockerfiles/cilium-log-collector.Dockerfile
  .pipelines/build/dockerfiles/cilium-log-collector.Dockerfile.tmpl
  .pipelines/build/dockerfiles/cni.Dockerfile
  .pipelines/build/dockerfiles/cni.Dockerfile.tmpl
  .pipelines/build/dockerfiles/cns.Dockerfile
  .pipelines/build/dockerfiles/cns.Dockerfile.tmpl
  .pipelines/build/dockerfiles/ipv6-hp-bpf.Dockerfile
  .pipelines/build/dockerfiles/npm.Dockerfile
  azure-ip-masq-merger/Dockerfile
  azure-ip-masq-merger/Dockerfile.tmpl
  azure-ipam/Dockerfile
  azure-ipam/Dockerfile.tmpl
  azure-iptables-monitor/Dockerfile
  azure-iptables-monitor/Dockerfile.tmpl
  bpf-prog/ipv6-hp-bpf/linux.Dockerfile
  build/images.mk
  cilium-log-collector/Dockerfile
  cilium-log-collector/Dockerfile.tmpl
  cni/Dockerfile
  cni/Dockerfile.tmpl
  cns/Dockerfile
  cns/Dockerfile.tmpl
  npm/linux.Dockerfile
  npm/windows.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: exclude SwiftV2 delegated-NIC IPs from CNS IPAM reconcile
  cns/stateprovider/cns/podinfoprovider.go
  cns/stateprovider/cns/podinfoprovider_test.go
Due: .pipelines/trigger.yaml

fix: exclude delegated NIC IPs from NNC reconcile on CNS restart
  cni/network/network.go
  cns/NetworkContainerContract.go
  cns/stateprovider/cns/podinfoprovider.go
  cns/stateprovider/cns/podinfoprovider_test.go
Due: .pipelines/trigger.yaml

test: add go-version-check workflow for testing
  .github/workflows/go-version-check.yaml
  build/images.mk
  tools-go/go.mod
  tools-go/go.sum
Due: .pipelines/trigger.yaml

fix: remove label/assignee from gh issue create (not portable across forks)
  .github/workflows/go-version-check.yaml
Due: none

fix: repair gh issue create commands (remove empty continuation lines)
  .github/workflows/go-version-check.yaml
Due: none

fix: use floating minor tag (not patch) for GO_IMG in Tier 3 issue
  .github/workflows/go-version-check.yaml
Due: none

fix: export GOPATH to GITHUB_ENV for make dockerfiles, use floating tag in issue
  .github/workflows/go-version-check.yaml
Due: none

fix: handle empty Go version label from MCR images
  .github/workflows/go-version-check.yaml
Due: none

fix cve
  npm/linux.Dockerfile
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

feat: add binary change detection and auto-tagging for sub-binaries
  .github/workflows/scheduled-release.yaml
Due: none

refactor: remove isInfraOrLegacyNICType wrapper, call method directly
  cni/network/network.go
Due: .pipelines/trigger.yaml

feat: rewrite SKILL.md v4 — explicit GOEXPERIMENT guidance for every build path
  .github/skills/acn-go-version-bump/SKILL.md
  .github/workflows/go-version-check.yaml
Due: none

feat(SKILL.md): v4.1 — fix root go.mod gap and add completeness validation
  .github/skills/acn-go-version-bump/SKILL.md
Due: none

feat(SKILL.md): v4.2 — add tools module migration + generated Dockerfile guidance
  .github/skills/acn-go-version-bump/SKILL.md
Due: none

feat: pre-fetch docs + image digests in copilot-setup-steps.yml
  .github/copilot-setup-steps.yml
  .github/skills/acn-go-version-bump/SKILL.md
Due: none

fix(SKILL.md): v4.4 — explicit cilium Makefile guidance + buildmode grep
  .github/skills/acn-go-version-bump/SKILL.md
Due: none

fix(SKILL.md): v4.5 — go.mod must use 1.XX.1, not latest patch
  .github/skills/acn-go-version-bump/SKILL.md
Due: none

fix: pre-download go modules + explicit install-go.sh guidance
  .github/copilot-setup-steps.yml
  .github/skills/acn-go-version-bump/SKILL.md
Due: none

fix: use existing repo secrets and rename CIN→CNI webhook
  .github/workflows/scheduled-release.yaml
Due: none

feat: add dry_run mode for testing without creating tags
  .github/workflows/scheduled-release.yaml
Due: none

Switch Teams notifications from Graph API to Logic App webhooks
  .github/workflows/scheduled-release.yaml
Due: none

Security hardening: scope webhook secrets to step-level only
  .github/workflows/scheduled-release.yaml
Due: none

fix(SKILL.md): v4.7 — do NOT run go mod tidy (agent times out)
  .github/copilot-setup-steps.yml
  .github/skills/acn-go-version-bump/SKILL.md
Due: none

fix: restore DisableAsyncDelete check in CNS IPAM invoker Delete
  cni/network/invoker_cns.go
Due: .pipelines/trigger.yaml

test: add unit tests for DisableAsyncDelete gate in CNS IPAM invoker
  cni/network/invoker_cns_test.go
  cns/client/client.go
Due: .pipelines/trigger.yaml

MTPNC changes to support DRA Pod Scheduling
  crd/multitenancy/api/v1alpha1/multitenantpodnetworkconfig.go
  crd/multitenancy/api/v1alpha1/utils.go
  crd/multitenancy/api/v1alpha1/utils_test.go
  crd/multitenancy/api/v1alpha1/zz_generated.deepcopy.go
  crd/multitenancy/manifests/multitenancy.acn.azure.com_multitenantpodnetworkconfigs.yaml
Due: .pipelines/trigger.yaml

fix: ignore NetworkNotFoundError during HNSv2 network deletion
  network/hnswrapper/hnsv2wrapperfake.go
  network/network_windows.go
  network/network_windows_test.go
Due: .pipelines/trigger.yaml

chore: change endpoint delete notfound log for consistency
  network/endpoint_windows.go
Due: .pipelines/trigger.yaml

fix: use errors.As for not-found type checks and wrap errors with %w
  network/endpoint_windows.go
  network/network_windows.go
Due: .pipelines/trigger.yaml

lint: fix no dynamic errors
  network/errors.go
  network/network_windows.go
Due: .pipelines/trigger.yaml

Call createOrUpdateNodeInfoCRD when EnableHomeAz is true
  cns/service/main.go
Due: .pipelines/trigger.yaml

Add EnableHomeAz feature flag to CNSConfig
  cns/configuration/configuration.go
Due: .pipelines/trigger.yaml

Add EnableHomeAz to test data and add unit test for config parsing
  cns/configuration/configuration_test.go
  cns/configuration/testdata/good.json
  cns/service/main.go
Due: .pipelines/trigger.yaml

lint: fix linux lint errors
  network/errors.go
  network/network_windows.go
Due: .pipelines/trigger.yaml

fix: find interface by mac address fix for swiftv2 delegated interfac… (#4414)
  azure-iptables-monitor/go.sum
  cni/network/network.go
  cni/network/network_linux.go
  cni/network/network_linux_test.go
  cni/network/network_test.go
  cni/network/network_windows.go
  cni/network/network_windows_test.go
Due: .pipelines/trigger.yaml
