Repository Azure/azure-container-networking: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

Path conditions:
  .pipelines/npm/npm-conformance-tests.yaml: any of: npm, .pipelines/npm
  .pipelines/trigger.yaml: any file but: .devcontainer, .hooks, .vscode, .github, docs

Better comments and error messages in DRA APIs when feature is turned off
  cns/middlewares/k8sSwiftV2.go
  cns/restserver/nicresources.go
  cns/restserver/nicresources_test.go
  cns/restserver/requestclaimresourceinfo.go
  cns/restserver/requestclaimresourceinfo_test.go
  cns/restserver/restserver.go
Due: .pipelines/trigger.yaml

test: parameterize LRP per-pool resources via typed k8s objects
  test/integration/lrp/lrp_test.go
  test/integration/manifests/cilium/lrp/client-ds.yaml
  test/integration/manifests/cilium/lrp/config-map.yaml
  test/integration/manifests/cilium/lrp/lrp.yaml
  test/integration/manifests/cilium/lrp/node-local-dns-ds.yaml
  test/integration/manifests/cilium/lrp/service-account.yaml
  test/integration/manifests/cilium/lrp/service.yaml
  test/internal/kubernetes/utils.go
Due: .pipelines/trigger.yaml

test: add cilium-config ConfigMap RBAC to eBPF cilium agent ClusterRole
  test/integration/manifests/cilium/v1.17/ebpf/common/cilium-agent-clusterrole.yaml
  test/integration/manifests/cilium/v1.18/ebpf/common/cilium-agent-clusterrole.yaml
  test/integration/manifests/cilium/v1.19/ebpf/common/cilium-agent-clusterrole.yaml
Due: .pipelines/trigger.yaml

test: [NPM] pin hashed-name golden vectors and old/new cleanup migration
  npm/pkg/dataplane/ipsets/ipsetmanager_linux_test.go
  npm/util/util_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

test: sync v1.19 eBPF cilium agent ClusterRole with production (>=1.19 RBAC)
  test/integration/manifests/cilium/v1.19/ebpf/common/cilium-agent-clusterrole.yaml
Due: .pipelines/trigger.yaml

test(cns/endpointmanager): add unit tests with local HNS seam
  cns/endpointmanager/endpointmanager_linux_test.go
  cns/endpointmanager/endpointmanager_test.go
  cns/endpointmanager/endpointmanager_windows.go
  cns/endpointmanager/endpointmanager_windows_test.go
  cns/endpointmanager/hnsclient_windows.go
Due: .pipelines/trigger.yaml

network: retry DHCP discover on secondary endpoint setup
  network/secondary_endpoint_client_linux.go
  network/secondary_endpoint_linux_test.go
Due: .pipelines/trigger.yaml

ci: group dependabot updates
  .github/dependabot.yaml
Due: none

ci: group kubernetes dependency updates
  .github/dependabot.yaml
Due: none

network: wrap netlink errors in vishLinkResolver (wrapcheck)
  network/secondary_endpoint_client_linux.go
Due: .pipelines/trigger.yaml

ci: stop dependabot updates for release v1.5
  .github/dependabot.yaml
Due: none

ci: retry cluster cleanup in merge queue
  .pipelines/templates/delete-cluster.steps.yaml
  .pipelines/templates/delete-cluster.yaml
Due: .pipelines/trigger.yaml

2nd pass, with full HNS client mock everywhere
  cns/endpointmanager/endpointmanager.go
  cns/endpointmanager/endpointmanager_linux.go
  cns/endpointmanager/endpointmanager_test.go
  cns/endpointmanager/endpointmanager_windows.go
  cns/endpointmanager/endpointmanager_windows_test.go
  cns/endpointmanager/hnsclient_windows.go
  cns/hnsclient/client.go
  cns/hnsclient/hnsclient_linux.go
  cns/hnsclient/hnsclient_linux_test.go
  cns/hnsclient/hnsclient_windows.go
  cns/restserver/api.go
  cns/restserver/ipam_windows.go
  cns/service/main.go
Due: .pipelines/trigger.yaml

test: tidy per-pool node-local-dns mutation for readability
  test/integration/lrp/lrp_test.go
Due: .pipelines/trigger.yaml

ci: handle merge queue cleanup failures in script
  .pipelines/templates/delete-cluster.steps.yaml
  .pipelines/templates/delete-cluster.yaml
Due: .pipelines/trigger.yaml

network: address review - Stringer MAC field, quieter DHCP retry logs
  network/secondary_endpoint_client_linux.go
Due: .pipelines/trigger.yaml

Revert "2nd pass, with full HNS client mock everywhere"
  cns/endpointmanager/endpointmanager.go
  cns/endpointmanager/endpointmanager_linux.go
  cns/endpointmanager/endpointmanager_test.go
  cns/endpointmanager/endpointmanager_windows.go
  cns/endpointmanager/endpointmanager_windows_test.go
  cns/endpointmanager/hnsclient_windows.go
  cns/hnsclient/client.go
  cns/hnsclient/hnsclient_linux.go
  cns/hnsclient/hnsclient_linux_test.go
  cns/hnsclient/hnsclient_windows.go
  cns/restserver/api.go
  cns/restserver/ipam_windows.go
  cns/service/main.go
Due: .pipelines/trigger.yaml

linting
  cns/endpointmanager/endpointmanager_linux_test.go
  cns/endpointmanager/endpointmanager_windows_test.go
  cns/endpointmanager/hnsclient_windows.go
Due: .pipelines/trigger.yaml

ci: update CNI Release Test Trigger
  .pipelines/cni/pipeline.yaml
Due: .pipelines/trigger.yaml

fix: [NPM] make policy-owned IPSet names unique per policy and namespace (#4574)
  npm/pkg/controlplane/translation/parseSelector.go
  npm/pkg/controlplane/translation/translatePolicy.go
  npm/pkg/controlplane/translation/translatePolicy_test.go
  npm/pkg/dataplane/dataplane_linux_test.go
  npm/pkg/dataplane/dataplane_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] give IPSets distinct kernel names via a wide digest
  npm/ipsm/ipsm_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager_test.go
  npm/util/util.go
  npm/util/util_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

test: [NPM] verify two same-typed sets render distinct kernel sets
  npm/pkg/dataplane/ipsets/ipsetmanager_linux_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] pad hashed ipset name to a fixed width
  npm/util/util.go
  npm/util/util_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] give policy chains distinct names via a wider digest (#4593)
  npm/pkg/dataplane/policies/policy_linux.go
  npm/pkg/dataplane/policies/policymanager.go
  npm/pkg/dataplane/policies/policymanager_linux.go
  npm/pkg/dataplane/policies/policymanager_linux_test.go
  npm/pkg/dataplane/policies/policymanager_windows.go
  npm/util/util.go
  npm/util/util_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

test: uniquify FQDN LRP policy name per node pool
  test/integration/lrp/lrp_fqdn_test.go
  test/internal/kubernetes/utils.go
Due: .pipelines/trigger.yaml

Potential fix for pull request finding
  test/internal/kubernetes/utils.go
Due: .pipelines/trigger.yaml

fix(cni): VERSION command succeeds without output
  cni/network/stateless/main.go
Due: .pipelines/trigger.yaml

docs: [NPM] correct outdated GetHashedName doc comment
  npm/util/util.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

fix: [NPM] give IPSets distinct kernel names via a wide digest (#4587)
  npm/ipsm/ipsm_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux.go
  npm/pkg/dataplane/ipsets/ipsetmanager_linux_test.go
  npm/pkg/dataplane/ipsets/ipsetmanager_test.go
  npm/util/util.go
  npm/util/util_test.go
Due: .pipelines/npm/npm-conformance-tests.yaml, .pipelines/trigger.yaml

feat(network): signal CRI proxy for IB VF dismount instead of doing it in CNI
  network/endpoint_windows.go
  network/endpoint_windows_test.go
  network/ib_signal_windows.go
  network/ib_signal_windows_test.go
Due: .pipelines/trigger.yaml

Potential fix for pull request finding
  network/ib_signal_windows.go
Due: .pipelines/trigger.yaml

Minor improvements
  cns/configuration/env.go
  cns/middlewares/k8sSwiftV2_windows.go
  cns/middlewares/k8sSwiftV2_windows_test.go
Due: .pipelines/trigger.yaml

fix conditional in conditional tests
  .pipelines/singletenancy/aks/e2e-job-template.yaml
  .pipelines/singletenancy/azure-cni-overlay-stateless/azure-cni-overlay-stateless-e2e-job-template.yaml
  .pipelines/singletenancy/azure-cni-overlay/azure-cni-overlay-e2e-job-template.yaml
  .pipelines/singletenancy/dualstack-overlay/dualstackoverlay-e2e-job-template.yaml
Due: .pipelines/trigger.yaml

feat(failure-agent): open draft PRs via 1ES Agency coding job
  tools/failure-agent/go.mod
  tools/failure-agent/go.sum
  tools/failure-agent/internal/draftpr/draftpr.go
  tools/failure-agent/internal/draftpr/draftpr_test.go
  tools/failure-agent/internal/publish/agency.go
  tools/failure-agent/internal/publish/agency_test.go
  tools/failure-agent/main.go
Due: .pipelines/trigger.yaml

fix windows CNI init copy path to System32
  test/internal/kubernetes/utils_create.go
Due: .pipelines/trigger.yaml

[container-networking] Use powershell copy for windows CNI signing
  .pipelines/build/dockerfiles/cni.Dockerfile
  .pipelines/build/dockerfiles/cni.Dockerfile.tmpl
  cni/Dockerfile
  cni/Dockerfile.tmpl
  test/integration/manifests/cni/cni-installer-v1-windows.yaml
  test/integration/manifests/cns/daemonset-windows.yaml
  test/internal/kubernetes/utils_create.go
Due: .pipelines/trigger.yaml

cni: copy windows artifacts to Windows/System32
  .pipelines/build/dockerfiles/cni.Dockerfile
  .pipelines/build/dockerfiles/cni.Dockerfile.tmpl
  cni/Dockerfile
  cni/Dockerfile.tmpl
Due: .pipelines/trigger.yaml

fix: read windows CNI binaries from System32 in install manifests
  test/integration/manifests/cni/cni-installer-v1-windows.yaml
  test/integration/manifests/cns/daemonset-windows.yaml
Due: .pipelines/trigger.yaml
